@import '../../../../styles/base-component';

@include new('appHeader') {
  position: fixed;
  top: 0;
  width: calc(100% - #{$sidebar-width-md});
  display: flex;
  height: rem-calc($appHeader-height);
  background-color: $appHeader-bg-color;
  box-shadow: rem-calc(4px 0px 12px) #aaa;
  z-index: 999999;

  @include breakpoint(large only) {
    width: calc(100% - #{$sidebar-width-lg});
  }

  @include has('search') {
    flex: 1;
    display: flex;
    align-items: center;
    margin-left: rem-calc(15px);
    max-width: 50vw;
  }

  @include has('menu') {
    flex: 1;
    display: flex;
    justify-content: flex-end;

    @include has('user') {
      display: flex;
      justify-content: center;
      align-items: center;
      width: rem-calc($appHeader-height);
      font-weight: 600;
      color: $body-dark-font-color;
      background-color: $white;
    }
  }
}

@include new('history') {
  display: flex;
  justify-content: center;
  align-items: center;

  button {
    height: rem-calc($appHeader-height);
    border-radius: 0;

    @include when('click') {
        background-color: red;
    }

    i {
      color: white;
      font-size: 28px;
      margin: 0;
    }
  }

  @include when('isOpen') {
    position: relative;

    .ion-navicon-round:before {
      content: '\f10b';
    }

    .history-detail {
      transform: translate(0);
    }
  }

  @include has('detail') {
    display: block;
    position: absolute;
    top: $appHeader-height;
    right: 0;
    width: 25vw;
    transform: translate(25vw);
    height: calc(100vh - #{$appHeader-height});
    background-color: $content-medium-list-color;
    box-shadow: 4px 0 40px -8px lightgrey;
    border: 2px solid rgba(211, 211, 211, 0.29);
    @extend %transition;


      @include has('title') {
          position: relative;
          padding: rem-calc(34px 0 24px 24px);
          font-weight: 500;
          color: $body-dark-font-color;
          width: 100%;
      }
    }
  }