<header class="appHeader">
  <div class="appHeader-search">
    <!--<input class="input search" type="text" placeholder="Recherche">-->
      <span class="underline"></span>
  </div>

  <div class="appHeader-menu">
    <div class="appHeader-menu-user">{{user.name}}</div>

      <!-- [TIMELINE] -->

    <div class="history" [ngClass]="{'isOpen' : activityMenuOpen}" (click)="activityMenuOpen = !activityMenuOpen">
        <button class="button small green"><i class="ion-navicon-round"></i></button>

        <div class="history-detail">
            <h5 class="history-detail-title">{{'activity.feed' | translate}}</h5>

            <div class="timeline">
                <div class="row timeline-item" *ngFor="let activity of activities">
                    <time datetime="03/10/2017" class="column small-12 timeline-item-date">
                        <i class="ion-clock"></i>{{getMomentFromNow(activity.timestamp)}}
                    </time>
                    <div class="column small-12 text-right timeline-item-user">
                        modifié par <span class="badge small space-left-5">{{activity.userInfo.name}}</span>
                    </div>
                    <div class="cell small-24 timeline-item-content">
                        <div class="timeline-item-marker"></div>
                        <h6 class="timeline-item-title">{{activity.objectType}}</h6>
                        <p class="timeline-item-desc">
                            <span class="timeline-item-desc-blue">{{activity.objectBusinessKey}}</span>
                        </p>
                    </div>
                </div>
            </div>
         </div>
    </div>
  </div>
</header>


<!--<a class="appHeader-menu-actuality"></a> -->