<!-- [INVOICE LIST] -->

<spinner ></spinner>

<table class="invoiceList" *ngIf="invoices">
    <tbody class="invoiceList-row" *ngFor="let invoice of invoices"
           (click)="goToDetail(invoice)">
    <tr>
        <td>
            <div class="invoiceList-label">{{'invoices.label.client.ref' | translate}}</div>
        </td>
        <td>
            <span class="invoiceList-label">{{'invoices.label.date' | translate}}:</span>
            <span class="invoiceList-value">{{invoice.date | date: 'dd MMM. yyyy'}}</span>
        </td>
        <td>
            <span class="invoiceList-label">{{'invoices.label.deal' | translate}}:</span>
            <span class="invoiceList-value">{{invoice.business?.name}}</span>
        </td>
        <td>
            <span class="invoiceList-label">{{'invoices.label.amount' | translate}}:</span>
            <span class="invoiceList-value">{{invoice.amount}}</span>
        </td>
        <td>
            <div class="invoiceList-label">{{'invoices.label.tva' | translate}}</div>
        </td>
        <td>
            <span class="invoiceList-label"><img src="assets/images/svg/icon_comments.svg"></span>
            <span class="invoiceList-value width-80">{{invoice.comment ? '1' : ''}}</span>
            <!-- TODO should we add tooltip to see comment, for now can only one -->
        </td>
        <td>
            <div class="invoiceList-label">{{'invoices.label.status' | translate}}</div>
        </td>
        <td rowspan="2">
            <a class="invoiceList-button circleButton blue isActive">
                {{'invoices.label.4pm' | translate}}
            </a>
        </td>
    </tr>

    <tr>
        <td>
            <div class="invoiceList-value text blue-text">{{invoice.reference}} - {{invoice.buyer.name}}</div>
        </td>
        <td>
            <span class="invoiceList-label">{{'invoices.label.deadlineDate' | translate}}:</span>
            <span class="invoiceList-value">{{invoice.dueDate | date: 'dd MMM. yyyy'}}</span>
        </td>
        <td>
            <span class="invoiceList-label">{{'invoices.label.type' | translate}}:</span>
            <span class="invoiceList-value">{{'invoice.kind.' + invoice.kind | translate}}</span>
        </td>
        <td>
            <span class="invoiceList-label">{{'invoices.label.freeTaxAmount' | translate}}:</span>
            <span class="invoiceList-value">{{invoice.netAmount}}</span>
        </td>
        <td>
            <div class="invoiceList-value">{{invoice.vatsAmount?.amount}}</div>
        </td>
        <td>
            <span class="invoiceList-label"><img src="assets/images/svg/icon_attachments.svg"></span>
            <span class="invoiceList-value">{{invoice.attachments?.length}}</span>
        </td>
        <td>
            <div class="invoiceList-value status {{invoice.status}}">{{ 'invoice.status.' + invoice.status | translate}}</div>
        </td>
    </tr>
    </tbody>
</table>

<!-- [END INVOICE LIST] -->
