<div class="block-container row space-bottom-15">
    <div class="column auto newCustomerDetail">
        <div class="row newCustomerDetail-container-label">
            <h6 class="column small-24 title-section">{{'newCustomer.label.deal' | translate}}</h6>
            <hr class="column small-24 ">
        </div>
        <form *ngIf="editMode" novalidate
              class="row newCustomerDetail-container" #bsnForm="ngForm"
              (submit)="addBusiness()">
            <div class="column">

                <div class="row align-middle newCustomerDetail-container-content">
                    <h6 class="column shrink">{{'newCustomer.label.designation' | translate}}</h6>
                    <div class="column auto">
                        <input type="text"
                               class="form-control"
                               ngModel required name="name"
                               maxlength="30">
                    </div>

                    <!--
                    <h6 class="column shrink">{{'newCustomer.label.caInvoiced' | translate}}</h6>
                    <div class="column auto">
                        <input type="number"
                               class="form-control"
                               ngModel required name="caInvoiced">
                    </div>


                    <h6 class="column shrink">{{'newCustomer.label.caFixed' | translate}}</h6>
                    <div class="column auto">
                        <input type="number"
                               class="form-control"
                               ngModel required name="caFixed">
                    </div>
                    -->

                    <button *ngIf="editMode" type="submit"
                            [disabled]="!bsnForm.valid"
                            class="round medium primary ripple columns shrink">
                        <i class="ion-plus-round"></i>
                    </button>
                </div>
            </div>
        </form>

        <ng-container *ngIf="business">
            <div class="row newCustomerDetail-container"
                 *ngFor="let bsn of business; let i = index">
                <div class="column">
                    <!--FIXME is the business should have caInvoiced and caFixed info ?-->
                    <!--Not sure about what is displayed info customer detail-->
                    <!--todo check business model-->
                    <div class="row newCustomerDetail-container-label">
                        <h6 class="column shrink">{{bsn.creationDate | date: 'dd MMM. yyyy'}}</h6>
                    </div>
                    <div class="row align-middle newCustomerDetail-container-content">
                        <h6 class="column shrink">{{'newCustomer.label.designation' | translate}}</h6>
                        <div class="column auto">
                            <input type="text" required
                                   name="name"
                                   class="form-control"
                                   [(ngModel)]="business[i].name"
                                   [(disabled)]="!editMode">
                        </div>

                        <!--
                        <h6 class="column shrink">{{'newCustomer.label.caInvoiced' | translate}}</h6>
                        <div class="column auto">
                            <input type="number" [(ngModel)]="business[i].caInvoiced"
                                   name="caInvoice"
                                   class="form-control"
                                   [(disabled)]="!editMode">
                        </div>

                        <h6 class="column shrink">{{'newCustomer.label.caFixed' | translate}}</h6>
                        <div class="column auto">
                            <input type="number" [(ngModel)]="business[i].caFixed"
                                   name="caFixed"
                                   class="form-control"
                                   [(disabled)]="!editMode">
                        </div>
                        -->

                        <button *ngIf="editMode"
                                type="button"
                                (click)="deletedBusiness(business[i])"
                                class="round medium red ripple columns shrink">
                            <i class="ion-close-round"></i>
                        </button>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</div>
