<section class="style-guide-block">
  <div class="row">
    <h1 class="small-24 columns style-guide-title">Typography</h1>

    <div class="small-24 column">
      <div class="style-guide-note">
        <h1 class="style-guide-note-title">Note</h1>
        <p>Les régles de typography sont définies dans la feuille de style ce trouvant dans <strong>styles/base/typography.scss</strong><br>
        Les options de typography sont définies dans la feuille de style ce trouvant dans <strong>styles/utils/helpers.scss</strong></p>
      </div>
    </div>

    <div class="small-24 columns style-guide-section-content">
      <h4 class="style-guide-sub-title">Titres</h4>
      <!-- START / Titles -->
      <div class="style-guide-element">
        <div class="style-guide-preview-container">
          <div class="style-guide-preview-content left-content">
            <h1>h1 - Title very large</h1>
            <h2>h2 - Title large</h2>
            <h3>h3 - Title medium</h3>
            <h4>h4 - Title moderate</h4>
            <h5>h5 - Title small</h5>
            <h6>h6 - Title very small</h6>
          </div>
        </div>
        <div class="style-guide-preview-container black">
          <div class="style-guide-preview-content left-content">
            <h1 class="text-white">h1 - Title very large</h1>
            <h2 class="text-white">h2 - Title large</h2>
            <h3 class="text-white">h3 - Title medium</h3>
            <h4 class="text-white">h4 - Title moderate</h4>
            <h5 class="text-white">h5 - Title small</h5>
            <h6 class="text-white">h6 - Title very small</h6>
          </div>
        </div>
      </div>
      <!-- END / Titles -->

      <h4 class="style-guide-sub-title">Options typography</h4>
      <!-- START / Options italic -->
      <div class="style-guide-element options">
        <div class="style-guide-preview-container">
          <div class="style-guide-preview-content">
            <p class="font-italic">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
        </div>
        <div class="style-guide-code">
          <ul class="style-guide-list-options">
            <li>highlight-text-italic</li>
          </ul>
        </div>
      </div>
      <!-- END / Options italic -->

      <!-- START / Options bold -->
      <div class="style-guide-element options">
        <div class="style-guide-preview-container">
          <div class="style-guide-preview-content">
            <p class="highlight-text-bold">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
        </div>
        <div class="style-guide-code">
          <ul class="style-guide-list-options">
            <li>highlight-text-bold</li>
          </ul>
        </div>
      </div>
      <!-- END / Options bold -->

      <!-- START / Options uppercase -->
      <div class="style-guide-element options">
        <div class="style-guide-preview-container">
          <div class="style-guide-preview-content">
            <p class="text-uppercase">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
        </div>
        <div class="style-guide-code">
          <ul class="style-guide-list-options">
            <li>text-uppercase</li>
          </ul>
        </div>
      </div>
      <!-- END / Options uppercase -->

      <!-- START / Options lowercase -->
      <div class="style-guide-element options">
        <div class="style-guide-preview-container">
          <div class="style-guide-preview-content">
            <p class="text-lowercase">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
        </div>
        <div class="style-guide-code">
          <ul class="style-guide-list-options">
            <li>text-lowercase</li>
          </ul>
        </div>
      </div>
      <!-- END / Options lowercase -->

      <!-- START / Options Alignment -->
      <div class="style-guide-element options">
        <div class="style-guide-preview-container">
          <div class="style-guide-preview-content">
            <p class="text-right">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
        </div>
        <div class="style-guide-code">
          <ul class="style-guide-list-options">
            <li>text-left</li>
            <li>text-center</li>
            <li>text-right</li>
          </ul>
        </div>
      </div>
      <!-- END / Options Alignment -->

      <!-- START / Options Justify -->
      <div class="style-guide-element options">
        <div class="style-guide-preview-container">
          <div class="style-guide-preview-content">
            <p class="text-justify" style="width: 200px; margin: 0 auto;">Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
          </div>
        </div>
        <div class="style-guide-code">
          <ul class="style-guide-list-options">
            <li>text-justify</li>
          </ul>
        </div>
      </div>
      <!-- END / Options Justify -->
    </div>
  </div>
</section>