<form (submit)="addLine()" novalidate #invoiceLineForm="ngForm">
    <div class="small-24">
        <div class="row space-bottom-8">
            <div class="column small-10">
                <input type="text"
                       class="form-control"
                       name="description"
                       [(ngModel)]="line.description"
                       [disabled]="!editable"
                       required>
            </div>

            <div class="column" [class.small-3]="vatEnabled" [class.small-4]="!vatEnabled">
                <input type="number"
                       class="form-control text-right"
                       [disabled]="!editable"
                       [ngModel]="line.quantity"
                       name="quantity"
                       (ngModelChange)="quantityChanged($event)">
            </div>

            <div class="column" [class.small-3]="vatEnabled" [class.small-4]="!vatEnabled">
                <input type="number" step="0.50"
                       class="form-control text-right"
                       [disabled]="!editable"
                       [ngModel]="line.unitCost"
                       name="unitCost"
                       (ngModelChange)="unitCostChanged($event)">
            </div>

            <div class="column small-4">
                <input type="number"
                       class="form-control text-right"
                       disabled
                       [ngModel]="line.grossAmount"
                       name="grossAMount"
                       min="0">
            </div>

            <div class="column small-2" [hidden]="!vatEnabled">
                <vat-select [companyRef]="companyRef" name="vat"
                            [(ngModel)]="line.vat"
                            [required]="vatEnabled"
                            [disabled]="!editable"
                            (vatChanged)="updateVat($event)">
                </vat-select>
            </div>

            <div class="columns auto text-right">
                <button *ngIf="editable && editionMode === 'CREATION'"
                        type="submit"
                        [disabled]="invoiceLineForm && invoiceLineForm.form.invalid"
                        class="round medium primary ripple columns shrink">
                    <i class="ion-plus-round"></i>
                </button>

                <button *ngIf="editable && editionMode === 'EDITION'"
                        type="button"
                        (click)="deleteLine()"
                        class="round medium red ripple columns shrink">
                    <i class="ion-close-round"></i>
                </button>
            </div>
        </div>
    </div>
</form>

