
<div class="row full-height">
    <div class="columns small-11 login-intro-container">
        <h2 class="title">Bienvenue sur RxInvoice</h2>
        <h5>Systéme de gestion de facturation</h5>
        <img src="assets/images/png/screen-dashboard.png">
        <small class="mention">2018 - Made by 4SH</small>
        <a class="network" href="https://github.com/4sh/rxinvoice" target="_blank"><i class="ion-social-github"></i></a>
    </div>
    <div class="columns small-13 login-container">
        <span class="logo-app">
            <img src="http://www.4sh.fr/images/svg/4sh_logo_white.svg">
        </span>

        <form class="row" #f="ngForm"  (submit)="login(f.value)">
            <div class="columns small-16 card card-login">
                <div class="card-section">
                    <h4 class="cell small-24 title text-uppercase">Connexion</h4>
                    <hr>
                    <div class="grid-x">
                        <div class="medium-24 cell">
                            <label class="form-group">{{'loginform.login' | translate}}
                                <input class="form-control has-icon-left" type="text" placeholder=" {{'loginform.login.placeholder' | translate}}"
                                       ngModel name="name" required>
                                <i class="ion-ios-person"></i>
                            </label>
                            <div *ngIf="login && login.control && login.control.dirty && login.control.hasError('required')">
                                {{'loginform.login.required' | translate}}
                            </div>
                        </div>
                        <div class="medium-24 cell space-top-15">
                            <label class="form-group">{{'loginform.password' | translate}}
                                <input class="form-control has-icon-left" type="password" placeholder="{{'loginform.password.placeholder' | translate}}"
                                       ngModel name="password" required>
                                <i class="ion-locked"></i>
                            </label>
                            <div *ngIf="password && password.control && password.control.dirty && password.control.hasError('required')">
                                {{'loginform.password.required' | translate}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer space-top-15">
                    <div class="medium-24 cell text-right space-top-4">
                        <button type="submit"
                                class="button btn medium white has-icon-right"
                                [disabled]="f.invalid">
                            {{'loginform.connect' | translate}}<i class="ion-log-in"></i>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>



