
<div class="cell auto">&nbsp;</div>

<h1 class="cell shrink">Se connecter</h1>

<div class="grid-x cell shrink">
    <form class="grid-y cell auto grid-margin-y" (ngSubmit)="authenticate(loginForm.value)" #loginForm="ngForm">
        <div class="cell shrink form-group">
            <input class="form-control"
                   name="login" placeholder="{{'loginform.login.placeholder' | translate}}"
                   required #login ngModel>
            <div *ngIf="login && login.control && login.control.dirty && login.control.hasError('required')">
                {{'loginform.login.required' | translate}}
            </div>
        </div>
        <div class="cell shrink form-group">
            <input class="form-control"
                   name="password" placeholder="{{'loginform.password.placeholder' | translate}}"
                   required #password ngModel>
            <div *ngIf="password && password.control && password.control.dirty && password.control.hasError('required')">
                {{'loginform.password.required' | translate}}
            </div>
        </div>

        <button class="cell shrink button validate" type="submit" [disabled]="loginForm.invalid">{{'loginform.connect' | translate}}</button>
    </form>
</div>
<div class="cell auto">&nbsp;</div>
