<section class="style-guide-block" style="height: 100%;">
  <div class="row" style="height: 100%;">
    <h1 class="small-24 columns style-guide-title">Icônes</h1>

    <div class="small-24 columns style-guide-section-content" style="height: 100%;">
      <div class="style-guide-note">
        <h1 class="style-guide-note-title">Note</h1>
        <p>L'import des icônes ce fait via une feuille de style situé dans <strong>styles/vendors/ionicons.scss</strong>.<br>
          Vous y retrouverez les codes unicodes associés à chaqun des icônes en faisant une recherhe dans le fichier scss.</p>
      </div>

      <iframe src="http://ionicons.com/"
              style="border:0px #ffffff none;"
              name="myiFrame"
              scrolling="yes"
              frameborder="1"
              marginheight="0px"
              marginwidth="0px"
              width="100%"
              height="100%"
              allowfullscreen>
      </iframe>
    </div>
  </div>
</section>