<div class="block-container row">
    <div class="column auto newCustomerDetail">
        <div class="row newCustomerDetail-container-label">
            <h6 class="column small-24 title-section">{{'attachment.title' | translate}}</h6>
            <hr class="column small-24">
        </div>

        <div class="row newCustomerDetail-container">
            <div class="column">
                <div class="row align-middle newCustomerDetail-container-content">
                    <div class="small-24">
                        <div class="row">
                            <div class="column small-18" *ngFor="let file of attachments">
                                <button *ngIf="editMode" type="button" (click)="delete(file)">
                                    <i class="ion-android-delete red"></i>
                                </button>
                                <a href="">{{file.fileName}}</a>
                            </div>
                            <div class="column auto text-right">
                                <input *ngIf="editMode"
                                       type="file"
                                       ng2FileSelect
                                       (onFileSelected)="filesChange()"
                                       multiple
                                       [uploader]="uploader"
                                        class="round medium primary ripple columns shrink"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
