<div class="block-container row">
    <div class="column auto newCustomerDetail">
        <div class="row newCustomerDetail-container-label">
            <h6 class="column small-24 title-section">{{'attachment.title' | translate}}</h6>
            <hr class="column small-24">
        </div>

        <div class="row newCustomerDetail-container">
            <div class="column">
                <div class="row align-middle newCustomerDetail-container-content">
                    <div class="small-24">
                        <div class="row">
                            <div  class="column small-18">
                                <div *ngFor="let file of attachments">
                                    <button *ngIf="editMode" type="button" (click)="delete(file)">
                                        <i class="ion-android-delete red"></i>
                                    </button>
                                    <a  class="link blue-link" href="/api/download/{{file._id}}" target="_blank">{{file.fileName}}</a>
                                </div>
                            </div>
                            <div class="column auto text-right">
                                <input *ngIf="editMode"
                                       class="float-right"
                                       type="file"
                                       ng2FileSelect
                                       [uploader]="uploader"
                                       (onFileSelected)="filesChange()"
                                       multiple/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
