<section class="style-guide-block">
  <div class="row">
    <h1 class="small-24 columns style-guide-title">Couleurs</h1>

    <div class="small-24 columns style-guide-section-content">
      <!-- Global Colors -->
      <h1 class="small-24 columns style-guidesub-title">Global</h1>

      <div class="row small-up-2 medium-up-4 large-up-5 style-guide-colors-container">
        <div class="column">
          <div class="style-guide-colors"><span class="sg__colour--mainColor"></span></div>
        </div>

        <div class="column">
          <div class="style-guide-colors"><span class="sg__colour--mainLightColor"></span></div>
        </div>

        <div class="column">
          <div class="style-guide-colors"><span class="sg__colour--mainDarkColor"></span></div>
        </div>

        <div class="column">
          <div class="style-guide-colors"><span class="sg__colour--subColor"></span></div>
        </div>

        <div class="column">
          <div class="style-guide-colors"><span class="sg__colour--subLightColor"></span></div>
        </div>
      </div>


      <!-- Status Colors -->

      <h1 class="small-24 columns style-guidesub-title">Status</h1>

      <div class="row small-up-2 medium-up-4 large-up-5 style-guide-colors-container">
        <div class="column">
          <div class="style-guide-colors"><span class="sg__colour--Validate"></span></div>
        </div>

        <div class="column">
          <div class="style-guide-colors"><span class="sg__colour--Prepare"></span></div>
        </div>

        <div class="column">
          <div class="style-guide-colors"><span class="sg__colour--Relaunched"></span></div>
        </div>

        <div class="column">
          <div class="style-guide-colors"><span class="sg__colour--Send"></span></div>
        </div>
      </div>
    </div>
  </div>
</section>