<div class="newCustomer full-height">
    <div class="row align-middle newCustomerHeader">
        <div class="columns shrink">
            <a class="button small white ripple"
               routerLink="/app/customers"><i class="ion-arrow-left-c"></i></a>
        </div>

        <div class="columns shrink newCustomerHeader-name">
            {{ (customer && customer._id) ? customer.name : 'customers.label.back' | translate }}
        </div>
    </div>

    <div class="row newCustomerDetail" [ngClass]="{'mode-edit': editMode}">
        <form #f="ngForm" (submit)="save()" novalidate class="column small-10">
            <div class="column newCustomerDetail-container dark space-bottom-20">
                <!-- TODO add vats management / legalNotice / kind / fiscalYearModel ?-->
                <div class="row align-middle newCustomerDetail-container-labelNumber">
                    <h6 class="column small-12 no-border">{{'newCustomer.label.caInvoiced' | translate}}</h6>
                    <h6 class="column small-12 no-border">{{'newCustomer.label.caFixed' | translate}}</h6>
                </div>

                <div class="row align-middle newCustomerDetail-container-valueNumber">
                    <h3 class="column small-12 highlight-text-bold">{{ customer?.metrics?.invoiced  | currency:'EUR':'symbol':'4.2-2':'fr' }}</h3>
                    <h3 class="column small-12 highlight-text-bold">{{ customer?.metrics?.paid  | currency:'EUR':'symbol':'4.2-2':'fr' }}</h3>
                </div>

                <div class="row align-middle newCustomerDetail-container-label">
                    <h6 class="column small-8"> {{'newCustomer.label.creation' | translate}}</h6>
                    <div class="column">{{customer?.creationDate | date: 'dd MMM. yyyy'}}</div>
                </div>

                <div class="row align-middle newCustomerDetail-container-label">
                    <h6 class="column small-8"> {{'company.name' | translate}}</h6>
                    <div class="column">
                        <input type="text" class="form-control"
                               [disabled]='!editMode' ngModel name="name" required>
                    </div>

                </div>

                <div class="row align-middle newCustomerDetail-container-label">
                    <h6 class="column small-8"> {{'newCustomer.label.mail' | translate}}</h6>
                    <div class="column">
                        <input type="email" pattern="[^ @]*@[^ @]*" class="form-control"
                               [disabled]='!editMode' ngModel name="emailAddress" required>
                    </div>
                </div>

                <div class="row align-middle newCustomerDetail-container-label">
                    <h6 class="column small-8"> {{'newCustomer.label.address' | translate}}</h6>
                    <div class="column">
                        <address-input [editMode]="editMode"></address-input>
                    </div>
                </div>

                <div class="row align-middle newCustomerDetail-container-label">
                    <h6 class="column small-8"> {{'newCustomer.label.lastSent' | translate}}</h6>
                    <div class="column">
                        {{customer.lastSendDate | date: 'dd MMM. yyyy'}}
                    </div>
                </div>

                <div class="row align-middle newCustomerDetail-container-label">
                    <h6 class="column small-8"> {{'newCustomer.label.lastPayment' | translate}}</h6>
                    <div class="column">
                        {{customer.lastPaymentDate | date: 'dd MMM. yyyy'}}
                    </div>
                </div>
                <div class="row align-middle newCustomerDetail-container-label">
                    <h6 class="column small-8"> {{'newCustomer.label.legalNotice' | translate}}</h6>
                    <div class="column small-16">
                        <textarea type="text" class="form-control"
                                  rows="10" cols="50"
                                  [disabled]='!editMode' ngModel name="legalNotice">

                        </textarea>
                    </div>
                </div>
                <div class="row align-middle newCustomerDetail-container-label">
                    <h6 class="column small-8"> {{'newCustomer.label.detail' | translate}}</h6>
                    <div class="column small-16">
                        <textarea type="text" class="form-control"
                                  rows="10" cols="50"
                                  [disabled]='!editMode' ngModel name="detail">

                        </textarea>
                    </div>
                </div>
            </div>
        </form>

        <div class="column auto" *ngIf="customer">
            <business-detail class="newCustomerDetail-container" [(business)]="customer.business"
                             [editMode]="editMode"></business-detail>
            <vat-detail class="newCustomerDetail-container" [(vats)]="customer.vats" [editMode]="editMode"></vat-detail>
        </div>
    </div>

    <footer class="row newCustomerAction">
        <span class="overlay-state-edit" *ngIf="editMode">
            <i class="ion-edit"></i>
        </span>
        <div class="column small-24">
            <div class="row newCustomerAction-container align-middle">
                <div class="column small-12">
                    <div class="row">
                        <div class="columns shrink">
                            <button *ngIf="editMode"
                                    class="button medium green ripple"
                                    type="submit"
                                    (click)="customer && customer._id  ? save() : create()"
                                    [disabled]="f.invalid || f.pending">
                                <i class="ion-checkmark-round"></i>
                                {{( !customer ? 'button.label.create' : 'button.label.update') |
                                translate}}
                            </button>
                            <button *ngIf="!editMode"
                                    (click)="editMode = true"
                                    class="button medium green ripple">
                                <i class="ion-edit"></i>
                                Modifier
                            </button>
                        </div>

                        <div class="columns shrink">
                            <button class="button medium grey ripple"
                                    type="button"
                                    (click)="customer && customer._id ? delete() : f.reset()">
                                <i class="ion-trash-a"></i>{{'button.label.delete' | translate}}
                            </button>
                        </div>

                        <div class="columns shrink">
                            <button *ngIf="editMode"
                                    class="button medium grey ripple"
                                    type="button"
                                    (click)="reset()">
                                <i class="ion-arrow-return-left"></i>{{'button.label.cancel' | translate}}
                            </button>
                        </div>
                    </div>
                </div>

                <div class="total">
                    <div class="row newCustomerAction-container-number full-height" *ngIf="customer">
                        <div class="column">
                            <div class="row align-right newCustomerAction-container-number-label total-value">
                                <h6 class="column auto"><i class="ion-android-checkmark-circle"></i>{{'newCustomer.label.totalInvoiced'
                                    | translate}} :</h6>
                                <!--FIXME totalRevenues missing-->
                                <span class="total-nb"></span>

                            </div>
                            <div class="row align-middle newCustomerAction-container-number-label total-value">
                                <h6 class="column auto"><i class="ion-arrow-graph-down-right"></i>{{'newCustomer.label.totalDebt'
                                    | translate}} :</h6>
                                <!--FIXME totalDebts missing-->
                                <span class="total-nb"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>