<div class="newCustomer">
    <div class="row align-middle newCustomerHeader">
        <div class="columns shrink">
            <a class="button small white ripple"
               routerLink="/customers"><i class="ion-arrow-left-c"></i></a>
        </div>

        <div class="columns shrink newCustomerHeader-name">
            {{ (customer && customer._id) ? customer.name : 'customers.label.back' | translate }}
        </div>
    </div>

    <div class="row newCustomerDetail">
        <form #f="ngForm" (submit)="save(f.value)" novalidate class="column small-8">
            <div class="column newCustomerDetail-container">
                <!-- TODO add vats management / legalNotice / kind / fiscalYearModel ?-->
                <div class="row align-middle newCustomerDetail-container-labelNumber">
                    <h6 class="column small-12">{{'newCustomer.label.caInvoiced' | translate}}</h6>
                    <h6 class="column small-12">{{'newCustomer.label.caFixed' | translate}}</h6>
                </div>

                <div class="row align-middle newCustomerDetail-container-valueNumber">
                    <h5 class="column small-12">{{ customer?.metrics?.invoiced }} €</h5>
                    <h5 class="column small-12">{{ customer?.metrics?.paid }} €</h5>
                </div>

                <div class="row align-middle newCustomerDetail-container-label">
                    <h6 class="column small-8"> {{'company.name' | translate}}</h6>
                    <div class="column"><input type="text" class="form-control"
                                               [disabled]='!editMode' ngModel name="name" required></div>
                </div>

                <div class="row align-middle newCustomerDetail-container-label">
                    <h6 class="column small-8"> {{'company.fullName' | translate}}</h6>
                    <div class="column"><input type="text" class="form-control"
                                               [disabled]='!editMode' ngModel name="fullName"></div>
                </div>

                <div class="row align-middle newCustomerDetail-container-label">
                    <h6 class="column small-8"> {{'newCustomer.label.creation' | translate}}</h6>
                    <div class="column">{{customer?.creationDate | date}}</div>
                </div>

                <div class="row align-middle newCustomerDetail-container-label">
                    <h6 class="column small-8"> {{'newCustomer.label.mail' | translate}}</h6>
                    <div class="column"><input type="email" pattern="[^ @]*@[^ @]*" class="form-control"
                                               [disabled]='!editMode' ngModel name="emailAddress" required></div>
                </div>

                <div class="row align-middle newCustomerDetail-container-label">
                    <h6 class="column small-8"> {{'newCustomer.label.address' | translate}}</h6>
                    <div class="column">
                        <address-input [editMode]="editMode"></address-input>
                    </div>
                </div>

                <div class="row align-middle newCustomerDetail-container-label">
                    <h6 class="column small-8"> {{'newCustomer.label.lastSent' | translate}}</h6>
                    <div class="column"><input type="date" class="form-control"
                                               [disabled]='!editMode' ngModel name="lastSendDate"></div>
                </div>

                <div class="row align-middle newCustomerDetail-container-label">
                    <h6 class="column small-8"> {{'newCustomer.label.lastPayment' | translate}}</h6>
                    <div class="column"><input type="date" class="form-control"
                                               [disabled]='!editMode' ngModel name="lastPaymentDate"></div>
                </div>
                <div class="row align-middle newCustomerDetail-container-label">
                    <h6 class="column small-8"> {{'newCustomer.label.detail' | translate}}</h6>
                    <div class="column"><input type="text" class="form-control"
                                               [disabled]='!editMode' ngModel name="detail"></div>
                </div>
            </div>
        </form>

        <div class="column auto newCustomerDetail" *ngIf="customer">
            <business-detail [(business)]="customer.business" [editMode]="editMode"></business-detail>
            <vat-detail [(vats)]="customer.vats" [editMode]="editMode"></vat-detail>
        </div>

        <footer class="row newCustomerAction">
            <div class="column">
                <div class="row newCustomerAction-container align-middle">
                    <div class="columns shrink">
                        <button *ngIf="editMode"
                                class="button large green ripple"
                                type="submit"
                                (click)="save()"
                                [disabled]="f.invalid || f.pending">
                            <i class="ion-checkmark-round"></i>
                            {{( !customer ? 'newCustomer.label.buttonCreate' : 'newCustomer.label.buttonUpdate') |
                            translate}}
                        </button>
                        <button *ngIf="!editMode"
                                (click)="editMode = true"
                                class="button large green ripple">
                            <i class="ion-edit"></i>
                            Modifier
                        </button>
                    </div>

                    <div class="columns shrink">
                        <button class="button large grey ripple"
                                type="button"
                                (click)="customer ? delete() : f.reset()">
                            <i class="ion-trash-a"></i>{{'newCustomer.label.buttonDelete' | translate}}
                        </button>
                    </div>

                    <div class="columns shrink">
                        <button *ngIf="editMode"
                                class="button large grey ripple"
                                type="button"
                                (click)="reset()">
                            <i class="ion-arrow-return-left"></i>{{'newCustomer.label.buttonCancel' | translate}}
                        </button>
                    </div>

                    <div class="row newCustomerAction-container-number align-middle" *ngIf="customer">
                        <div class="column">
                            <div class="row  align-right newCustomerAction-container-number-label">
                                <h6 class="column auto">{{'newCustomer.label.totalInvoiced' | translate}}
                                    {{getRevenues()}}</h6>
                            </div>

                            <div class="row align-middle newCustomerAction-container-number-label">
                                <h6 class="column auto">{{'newCustomer.label.totalDebt' | translate}}
                                    {{getDebt()}}</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>