@import '../../../styles/base-component';

:host {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

@include new('newCustomer') {
  background-color: $background-color;

  @include new('newCustomerHeader') {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: $height-newCustomerHeader;
    background-color: $app-main-dark-color;
    padding: rem-calc(8px);
    z-index: 999;

    @include has('name') {
      color: white;
      font-weight: bold;
      font-size: rem-calc(18px);
    }
  }

  @include new('newCustomerDetail') {
    position: relative;
    width: 100%;
    height: calc(100vh - 64px - 175px);
    padding: 0 8px;
    top: rem-calc(80px);
    overflow-y: auto;

    @include has('container') {
      margin-top: rem-calc(12px);
      box-shadow: 0 1px 5px $silver-rust;
      background-color: white;
      border-radius: $global-radius;

      @include when('dark') {
        background-image: url('../../../' + $img-path + 'png/patern-login.png');
        background-size: cover;
        background-position: center center;
        background-color: darken($blue-bayoux, 15%);
        padding: rem-calc(24px);
        color: white;

       h6 { color: white;}
      }

      @include has('labelNumber') {
        display: flex;
        margin-top: rem-calc(16px);
      }

      @include has('valueNumber') {
        display: flex;
        margin-bottom: rem-calc(32px);
      }

      @include has('label') {
        display: flex;
        margin: rem-calc(16px 0);
      }

      @include has('content') {
        margin: rem-calc(16px 0);
        
        button {
          margin-left: rem-calc(8px);
          cursor: pointer;
        }
      }
    }
  }

  @include new('newCustomerAction') {
    height: $height-newCustomerAction;

    @include has('container') {
      padding: rem-calc(24px 0);
      border: 1px solid $black-squeeze;
      box-shadow: 0 1px 5px $silver-rust;
      background-color: white;
      
      button {
        margin-right: rem-calc(8px);
      }

      @include has('label') {
        display: flex;
        margin: rem-calc(16px 0);
      }

      @include has('content') {
        button {
          margin-left: rem-calc(8px);
          cursor: pointer;
        }
      }
    }
  }
}


