@import '../../../styles/base-component';

@include new('newCustomer') {
  height: 100vh;
  width: calc(100vw - 12vw);


}

@include new('newCustomerFilter') {
  height: rem-calc(50px);
  width: calc(100vw - 12vw);
  background-color: $app-main-dark-color;

  @include has('before') {
    margin: 8px 12px;
  }
  
  @include has('name') {
    color: white;
    font-weight: bold;
    line-height: rem-calc(50px);
  }
}

@include new('newCustomerLabel') {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
}

@include new('newCustomerDetail') {
  background-color: $background-color;

  input {
    margin-bottom: 0;
  }

  @include has('identity') {
    height: 100vh;
    width: 20vw;
    margin-top: 12px;
    border: 1px solid $black-squeeze;
    box-shadow: 0 4px 5px $silver-rust;
    background-color: white;

    @include has('label') {
      display: flex;
      padding: 16px 0;
    }
  }

  @include has('business') {

    @include has('container') {
      height: 14vh;
      width: calc(100vw - 33vw);
      padding: rem-calc(16px);
      margin: 12px 0 6px 12px;
      border: 1px solid $black-squeeze;
      box-shadow: 0 4px 5px $silver-rust;
      background-color: white;
    }
  }
}

