<div class="newCustomer">
    <div class="row">
        <div class="columns shrink">
            <div class="row newCustomerFilter">
                <div class="columns shrink newCustomerFilter-before">
                    <a class="button small white"><i class="ion-ios-arrow-thin-left"></i></a>
                </div>

                <div class="columns shrink newCustomerFilter-name">
                    CLIENT NAME
                </div>
            </div>

            <div class="row newCustomerDetail">
                <div class="column shrink newCustomerDetail-identity">
                    <div class="row align-middle newCustomerDetail-identity-label">
                        <h6 class="column small-10">Client</h6>
                        <div class="column"><input type="text"></div>
                    </div>

                    <div class="row align-middle newCustomerDetail-identity-label">
                        <h6 class="column small-10">Création</h6>
                        <div class="column"><input type="text"></div>
                    </div>

                    <div class="row align-middle newCustomerDetail-identity-label">
                        <h6 class="column small-10">Mail</h6>
                        <div class="column"><input type="text"></div>
                    </div>

                    <div class="row align-middle newCustomerDetail-identity-label">
                        <h6 class="column small-10">Contact</h6>
                        <div class="column"><input type="text"></div>
                    </div>

                    <div class="row align-middle newCustomerDetail-identity-label">
                        <h6 class="column small-10">Adresse</h6>
                        <div class="column"><input type="text"></div>
                    </div>

                    <div class="row align-middle newCustomerDetail-identity-label">
                        <h6 class="column small-10">Dernier envoi</h6>
                        <div class="column"><input type="text"></div>
                    </div>

                    <div class="row align-middle newCustomerDetail-identity-label">
                        <h6 class="column small-10">Dernier paiement</h6>
                        <div class="column"><input type="text"></div>
                    </div>
                </div>

                <div class="column shrink newCustomerDetail-business">
                    <div class="row">
                        <div class="column newCustomerDetail-business-container">
                            <div class="row">
                                <h6 class="column shrink newCustomerLabel">Affaire</h6>
                            </div>

                            <div class="row align-middle">
                                <h6 class="column shrink">Désignation</h6>
                                <div class="column"><input type="text"></div>

                                <h6 class="column shrink">CA facturé</h6>
                                <div class="column-6"><input type="text"></div>

                                <h6 class="column shrink">CA ferme</h6>
                                <div class="column-6 "><input type="text"></div>

                                <div class="columns shrink newCustomerDetail-more">
                                    <a class="button circle medium primary ripple"><i class="ion-ios-plus-empty"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="column newCustomerDetail-business-container">
                            <div class="row">
                                <h6 class="column shrink newCustomerLabel">TVA</h6>
                            </div>

                            <div class="row align-middle">
                                <h6 class="column shrink">Libellé</h6>
                                <div class="column"><input type="text"></div>

                                <h6 class="column shrink">Montant</h6>
                                <div class="column-6"><input type="text"></div>

                                <div class="columns shrink newCustomerDetail-more">
                                    <a class="button circle medium primary ripple"><i class="ion-ios-plus-empty"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
