<div class="newCustomer">
    <div class="row align-middle newCustomerHeader">
        <div class="columns shrink">
            <a class="button small white ripple"><i class="ion-arrow-left-c"></i></a>
        </div>

        <div class="columns shrink newCustomerHeader-name">
            {{'customers.label.name' | translate}}
        </div>
    </div>

    <div class="row newCustomerDetail">
        <div class="column small-8 newCustomerDetail-container">
            <div class="row align-middle newCustomerDetail-container-labelNumber">
                <h6 class="column small-12">{{'newCustomer.label.caInvoiced' | translate}}</h6>
                <h6 class="column small-12">{{'newCustomer.label.caFixed' | translate}}</h6>
            </div>

            <div class="row align-middle newCustomerDetail-container-valueNumber">
                <h5 class="column small-12">{{'newCustomer.value.caInvoiced' | translate}}</h5>
                <h5 class="column small-12">{{'newCustomer.value.caFixed' | translate}}</h5>
            </div>

            <div class="row align-middle newCustomerDetail-container-label">
                <h6 class="column small-8"> {{'newCustomer.label.client' | translate}}</h6>
                <div class="column"><input type="text"></div>
            </div>

            <div class="row align-middle newCustomerDetail-container-label">
                <h6 class="column small-8"> {{'newCustomer.label.creation' | translate}}</h6>
                <div class="column"><input type="text"></div>
            </div>

            <div class="row align-middle newCustomerDetail-container-label">
                <h6 class="column small-8"> {{'newCustomer.label.mail' | translate}}</h6>
                <div class="column"><input type="text"></div>
            </div>

            <div class="row align-middle newCustomerDetail-container-label">
                <h6 class="column small-8"> {{'newCustomer.label.address' | translate}}</h6>
                <div class="column"><input type="text"></div>
            </div>

            <div class="row align-middle newCustomerDetail-container-label">
                <h6 class="column small-8"> {{'newCustomer.label.lastSent' | translate}}</h6>
                <div class="column"><input type="text"></div>
            </div>

            <div class="row align-middle newCustomerDetail-container-label">
                <h6 class="column small-8"> {{'newCustomer.label.lastPayment' | translate}}</h6>
                <div class="column"><input type="text"></div>
            </div>
        </div>

        <div class="column auto newCustomerDetail">
            <div class="row newCustomerDetail-container">
                <div class="column">
                    <div class="row newCustomerDetail-container-label">
                        <h6 class="column shrink">{{'newCustomer.label.deal' | translate}}</h6>
                    </div>

                    <div class="row align-middle newCustomerDetail-container-content">
                        <h6 class="column shrink">{{'newCustomer.label.designation' | translate}}</h6>
                        <div class="column"><input type="text"></div>

                        <h6 class="column shrink">{{'newCustomer.label.caInvoiced' | translate}}</h6>
                        <div class="column-6"><input type="text"></div>

                        <h6 class="column shrink">{{'newCustomer.label.caFixed' | translate}}</h6>
                        <div class="column-6 "><input type="text"></div>

                        <button class="round medium primary ripple columns shrink">
                            <i class="ion-plus-round"></i>
                        </button>
                    </div>
                </div>
            </div>

            <div class="row newCustomerDetail-container">
                <div class="column">
                    <div class="row newCustomerDetail-container-label">
                        <h6 class="column shrink">{{'newCustomer.label.deal' | translate}}</h6>
                    </div>

                    <div class="row align-middle newCustomerDetail-container-content">
                        <h6 class="column shrink">{{'newCustomer.label.designation' | translate}}</h6>
                        <div class="column"><input type="text"></div>

                        <h6 class="column shrink">{{'newCustomer.label.caInvoiced' | translate}}</h6>
                        <div class="column-6"><input type="text"></div>

                        <h6 class="column shrink">{{'newCustomer.label.caFixed' | translate}}</h6>
                        <div class="column-6 "><input type="text"></div>

                        <button class="round medium primary ripple columns shrink">
                            <i class="ion-plus-round"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="row newCustomerAction">
        <div class="column">
            <div class="row newCustomerAction-container align-middle">
                <div class="columns shrink">
                    <button class="button large green ripple">
                        <i class="ion-checkmark-round"></i>{{'newCustomer.label.buttonCreate' | translate}}
                    </button>
                </div>

                <div class="columns shrink">
                    <button class="button large grey ripple">
                        <i class="ion-trash-a"></i>{{'newCustomer.label.buttonDelete' | translate}}
                    </button>
                </div>

                <div class="row newCustomerAction-container-number align-middle">
                    <div class="column">
                        <div class="row  align-right newCustomerAction-container-number-label">
                            <h6 class="column auto">{{'newCustomer.label.totalInvoiced' | translate}}
                                {{'newCustomer.value.totalInvoiced' | translate}}</h6>
                        </div>

                        <div class="row align-middle newCustomerAction-container-number-label">
                            <h6 class="column auto">{{'newCustomer.label.totalDebt' | translate}}
                                {{'newCustomer.value.totalDebt' | translate}}</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>