<div class="invoice full-height">
    <div class="row align-middle invoiceHeader">
        <div class="columns shrink">
            <a class="button small white ripple"
               (click)="goBack()"><i class="ion-arrow-left-c"></i></a>
        </div>

        <div class="columns shrink invoiceHeader-name">
            {{ (invoice && invoice._id) ? invoice.object : 'invoices.label.back' | translate }}
        </div>
    </div>

    <div class="row invoiceDetail" [ngClass]="{'mode-edit': form.enabled}">
        <form [formGroup]="form" *ngIf="form && invoice" (submit)="save()" novalidate class="column small-8">
            <div class="column invoiceDetail-container dark">


                <div class="row align-middle invoiceDetail-container-label">
                    <h6 class="column small-8"> {{'invoice.reference' | translate}}</h6>
                    <div class="column">
                        <input type="text" formControlName="reference">
                    </div>
                </div>

                <div class="row align-middle invoiceDetail-container-label">
                    <h6 class="column small-8"> {{'invoices.label.client' | translate}}</h6>
                    <div class="column">
                        <customer-select [label]="'name'" (valueChange)="fetchBuyer($event)"
                                         [control]="form.controls.buyer"></customer-select>
                    </div>
                </div>

                <div class="row align-middle invoiceDetail-container-label">
                    <h6 class="column small-8"> {{'invoice.reference.customer' | translate}}</h6>
                    <div class="column">
                        <input type="text" formControlName="customerInvoiceRef">
                    </div>
                </div>

                <div class="row align-middle invoiceDetail-container-label">
                    <h6 class="column small-8"> {{'invoice.business' | translate}}</h6>
                    <div class="column">
                        <select formControlName="business" [compareWith]="comparRef">
                            <option *ngFor="let business of selectedCompany?.business" [ngValue]="business">
                                {{business.name}}
                            </option>
                        </select>
                    </div>
                </div>

                <div class="row align-middle invoiceDetail-container-label">
                    <h6 class="column small-8"> {{'invoice.object' | translate}}</h6>
                    <div class="column">
                        <textarea type="text" formControlName="object"
                                  rows="3" cols="10">
                        </textarea>
                    </div>
                </div>

                <div class="row align-middle invoiceDetail-container-label">
                    <h6 class="column small-8"> {{'invoice.kind' | translate}}</h6>
                    <div class="column">
                        <select formControlName="kind">
                            <option value="">{{'invoice.kind.all' | translate}}</option>
                            <option *ngFor="let kind of kinds" [ngValue]="kind">
                                {{'invoice.kind.' + kind | translate}}
                            </option>
                        </select>
                    </div>
                </div>

                <div class="row align-middle invoiceDetail-container-label">
                    <h6 class="column small-8"> {{'invoice.withVAT' | translate}}</h6>
                    <div class="column">
                        <toggle [item]="form.controls.withVAT.value" [disabled]="form.disabled"
                                (itemChange)="form.controls.withVAT.setValue($event)"></toggle>
                    </div>
                </div>

                <div class="row align-middle invoiceDetail-container-label" *ngIf="form.controls.date">
                    <h6 class="column small-8"> {{'invoice.label.invoice.date' | translate}}</h6>
                    <div class="column">
                        <date-picker [control]="form.controls.date"
                                     [utcMode]="true" [disabled]="form.disabled"></date-picker>
                    </div>
                </div>


                <div class="row align-middle invoiceDetail-container-label">
                    <h6 class="column small-8"> {{'invoice.label.sentDate' | translate}}</h6>
                    <div class="column">{{getSentDate() | date: 'dd MMM. yyyy'}}</div>
                </div>

                <div class="row align-middle invoiceDetail-container-label">
                    <h6 class="column small-8"> {{'invoice.label.dueDate' | translate}}</h6>
                    <div class="column">
                        <date-picker [control]="form.controls.dueDate"
                                     [utcMode]="true" [disabled]="form.disabled"></date-picker>
                    </div>
                </div>

                <div class="row align-middle invoiceDetail-container-label">
                    <h6 class="column small-8"> {{'invoice.label.status' | translate}}</h6>
                    <div class="column">
                        <select formControlName="status">
                            <option value="">{{'invoice.status.all' | translate}}</option>
                            <option *ngFor="let status of statuses" [ngValue]="status">
                                {{'invoice.status.' + status | translate}}
                            </option>
                        </select>
                    </div>
                </div>

                <div class="row align-middle invoiceDetail-container-label">
                    <h6 class="column small-8"> {{'invoice.label.comment' | translate}}</h6>
                    <div class="column" class="panel panel-default">
                           <textarea type="text" formControlName="comment"
                                     rows="10" cols="50">
                           </textarea>
                    </div>
                </div>
            </div>
        </form>

        <div class="column auto" *ngIf="invoice">
            <invoice-lines-detail [(lines)]="invoice.lines" [editMode]="form.enabled"></invoice-lines-detail>
            <vat-detail [editMode]="form.enabled" [(vats)]="invoice.vats" [hidden]="!form.controls['withVAT'].value"></vat-detail>
            <attachments-detail *ngIf="invoice && invoice._id"
                                [invoiceId]="invoiceId"
                                [editMode]="form.enabled"
                                [attachments]="invoice.attachments"
                                (deleteFile)="deleteAttachment($event)"
                                (attachmentsChange)="fetchInvoice()"></attachments-detail>
            <!--<activity-panel *ngIf="invoice && invoice._id"  [(activities)]="invoice.activities"></activity-panel>-->
        </div>
    </div>

    <footer class="row invoiceAction">
            <span class="overlay-state-edit" *ngIf="form.enabled">
                <i class="ion-edit"></i>
            </span>
        <div class="column">
            <div class="row invoiceAction-container align-middle">
                <div class="columns shrink">
                    <button *ngIf="form.enabled"
                            class="button medium green ripple"
                            type="submit"
                            (click)="invoice && invoice._id  ? save() : create()"
                            [disabled]="form.invalid || form.pending">
                        <i class="ion-checkmark-round"></i>
                        {{( !invoiceId ? 'button.label.create' : 'button.label.update') | translate}}
                    </button>
                    <button *ngIf="form.disabled"
                            (click)="form.enable()"
                            class="button medium green ripple">
                        <i class="ion-edit"></i>
                        Modifier
                    </button>
                </div>

                <div class="columns shrink" *ngIf="invoiceId && canDelete">
                    <button class="button medium grey ripple"
                            type="button"
                            (click)="delete()">
                        <i class="ion-trash-a"></i>{{'button.label.delete' | translate}}
                    </button>
                </div>

                <div class="columns medium" *ngIf="invoiceId">
                    <button *ngIf="form.enabled"
                            class="button medium grey ripple"
                            type="button"
                            (click)="reset()">
                        <i class="ion-arrow-return-left"></i>{{'button.label.cancel' | translate}}
                    </button>
                </div>
            </div>
        </div>
    </footer>
</div>