@import '../../../styles/base-component';

@include new('invoice') {
  background-color: $background-color;

  @include new('invoiceHeader') {
    background-color: $app-main-dark-color;
    padding: rem-calc(8px);

    @include has('name') {
      color: white;
      font-weight: bold;
    }
  }

  @include new('invoiceDetail') {
    position: relative;
    width: 100%;
    height: calc(100vh - 64px - 145px);
    padding: 0 8px;
    overflow-y: auto;

    @include has('container') {
      margin-top: rem-calc(12px);
      box-shadow: 0 1px 5px $silver-rust;
      background-color: white;
      border-radius: $global-radius;

      @include when('dark') {
        background-image: url('../../../' + $img-path + 'png/patern-login.png');
        background-size: cover;
        background-position: center center;
        background-color: darken($blue-bayoux, 15%);
        padding: rem-calc(24px);
        color: white;

        h6 {
          position: relative;
          color: white;

          &:after {
            position: absolute;
            bottom: -10px;
            left: 0;
            width: 100%;
            height: rem-calc(1px);
            background: linear-gradient(135deg, rgba(255, 255, 255, 1) 0%, rgba(125, 185, 232, 0) 100%);
            content: '';
            opacity: 0.3;
          }

          &.no-border {
            &:after {
              display: none;
            }
          }
        }
      }

      @include has('labelNumber') {
        display: flex;
        margin-top: rem-calc(16px);
      }

      @include has('valueNumber') {
        display: flex;
        margin-bottom: rem-calc(32px);
      }

      @include has('label') {
        display: flex;
        margin: rem-calc(16px 0);
      }

      @include has('content') {
        margin: rem-calc(16px 0);

        button {
          margin-left: rem-calc(8px);
          cursor: pointer;
        }
      }
    }
  }

  @include new('invoiceAction') {
    right: 0;
    height: $height-newCustomerAction;
    width: calc(100% - #{$sidebar-width-md});

    @include breakpoint(large only) {
      width: calc(100% - #{$sidebar-width-lg});
    }

    @include has('container') {
      padding: rem-calc(24px 12px);
      border: 1px solid $black-squeeze;
      box-shadow: 0 1px 5px $silver-rust;
      background-color: white;

      button {
        margin-right: rem-calc(8px);
      }

      @include has('label') {
        display: flex;
        margin: rem-calc(16px 0);
      }

      @include has('content') {
        button {
          margin-left: rem-calc(8px);
          cursor: pointer;
        }
      }
    }
  }
}


