<div class="modal-header">
    <h3 class="modal-title"><span rx-translate="dashboard.quickEdition.title"></span> {{quickEdition.reference}}</h3>
</div>
<div class="modal-body zone-quick-edition">
    <div class="control-group">
        <label class="control-label label-light" rx-translate="invoice.status">Status</label>
        <div class="controls">
            <select ui-select2 ng-model="quickEdition.statusSelected" data-placeholder="{{i18n.translate('dashboard.filter.status')}}">
                <option value=""></option>
                <option ng-repeat="item in statusList" value="{{item._id}}">{{item.name}}</option>
            </select>
        </div>
    </div>
</div>
<div class="modal-body zone-quick-edition">
    <div class="control-group">
        <label class="control-label label-light" rx-translate="invoice.comment"></label>
        <div class="controls">
            <textarea style="width: 393px; height: 129px;" ng-model="quickEdition.comment"></textarea>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="fsh-btn-success" ng-click="ok()"><span class="icon-buttonSav"></span><span rx-translate="invoice.save"></span></button>
    <button class="fsh-btn-success" ng-click="cancel()"><span class="icon-buttonCancel"></span><span rx-translate="invoice.cancel"></span></button>
</div>