<!-- [HEADER] -->

<form class="invoiceFilter" [formGroup]="searchForm">
    <div class="row">
        <div class="columns shrink">
            <div class="row align-middle">
                <div class="columns shrink">
                    <h6>{{'invoices.filter.title' | translate}}</h6>
                </div>

                <div class="columns">
                    <button type="button"
                            (click)="toggleFilter('REFERENCE')"
                            [ngClass]="{'isActive green': filterString ===  'REFERENCE',
                   'spinner':  filterString ===  'REFERENCE' && isPending}"
                            class="round large listFilter-item">
                        {{'invoices.filter.ref' | translate}}
                    </button>
                </div>

                <!--FIXME add spinner when because the orderBy can take some time !-->

                <div class="columns">
                    <button type="button"
                            (click)="toggleFilter('DATE')"
                            [ngClass]="{'isActive green': filterString ===  'DATE',
                   'spinner':  filterString ===  'DATE' && isPending}"
                            class="round large listFilter-item">
                        {{'invoices.filter.date' | translate}}
                    </button>
                </div>
            </div>
        </div>

        <div class="columns shrink">
                <input class="input search small" type="text" placeholder="Recherche"
                      formControlName="query">
        </div>

        <div class="columns auto text-right">
            <button class="button medium green ripple"
                    type="button"
                    routerlink="/app/invoices/new">
                <i class="ion-plus-round"></i>{{'invoices.newInvoice' | translate}}
            </button>

            <button class="button medium primary ripple has-img"
                    type="button">
                <img class="icon" src="assets/images/png/icon_excel.png">
            </button>
        </div>
    </div>

    <!-- Select input -->

    <div class="invoiceSelect row">

        <!-- Invoice number -->

        <div class="invoiceNumber columns small-8 inner-space-top-10">
            <h6> <strong class="nb">{{ invoices && invoices.length ? invoices.length : 0 }}</strong> {{'invoices.total.number' | translate}}
                <strong class="nb">0000</strong> {{'invoices.total.euros' | translate}}</h6>
        </div>

        <div class="columns small-16 inner-space-top-4">
            <div class="row">
                <div class="columns small-3">
                    <div class="invoiceSelect-date">
                        <date-picker [initDate]="true" [control]="searchForm.controls.startDate"></date-picker>
                    </div>
                </div>

                <div class="columns small-3">
                    <div class="invoiceSelect-date">
                        <date-picker [control]="searchForm.controls.endDate"></date-picker>
                    </div>
                </div>

                <div class="columns small-5">
                    <div class="invoiceSelect-item">
                        <customer-select [isClearable]="true" [isBindingId]="true"
                                         [label]="'name'"
                                         [control]="searchForm.controls.buyer"></customer-select>
                    </div>
                </div>

                <div class="columns small-5">
                    <div class="invoiceSelect-item">
                        <select formControlName="status">
                            <option value="">{{'invoice.status.all' | translate}}</option>
                            <option *ngFor="let status of statuses" [ngValue]="status">
                                {{'invoice.status.' + status | translate}}
                            </option>
                        </select>
                    </div>
                </div>

                <div class="columns small-5">
                    <div class="invoiceSelect-item">
                        <select formControlName="kind">
                            <option value="">{{'invoice.kind.all' | translate}}</option>
                            <option *ngFor="let kind of kinds" [ngValue]="kind">
                                {{'invoice.kind.' + kind | translate}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>

<!-- [END HEADER] -->

<invoices-list [invoices]="invoices | orderBy: filterString" [isPending]="isPending"></invoices-list>
