<section class="style-guide-block">
  <div class="row">
    <h1 class="small-24 columns style-guide-title">Boutons</h1>

    <div class="small-24 columns style-guide-section-content">
      <div class="row">
        <div class="small-24 column">
          <div class="style-guide-note">
            <h1 class="style-guide-note-title">Note</h1>
            <p>Les boutons doivent toujours ressembler à ceux-ci grâce à une combinaison de classes de modificateurs détaillées ci-dessous.
              Vous retrouverez les styles des boutons sur la feuille de style ce trouvant dans <strong>styles/components/buttons.scss</strong>
            </p>
          </div>

          <h4 class="style-guide-sub-title">Bases styles</h4>
          <!-- START / Size btn -->
          <div class="style-guide-element">
            <div class="style-guide-preview-container">
              <div class="style-guide-preview-content">
                <button class="button small primary">small button</button>
                <button class="button medium green">medium button</button>
                <button class="button large yellow">large button</button>
              </div>
            </div>
            <div class="style-guide-code">
              <pre class="language-html"><code class="language-html">&lt;button class="button [size] [color]"&gt;small Button &lt;/button&gt;</code></pre>
            </div>
          </div>
          <!-- END / Size btn -->

          <!-- START / Icon btn -->
          <div class="style-guide-element">
            <div class="style-guide-preview-container">
              <div class="style-guide-preview-content">
                <button class="button small primary has-icon-left"><i class="ion-chatbox-working"></i>medium button</button>
              </div>
            </div>
            <div class="style-guide-code">
              <pre class="language-html"><code class="language-html">&lt;button class="button [size] [color] [positionIcon]"&gt;&lt;i class="[classIcon]"&gt;&lt;/i&gt;icône Button &lt;/button&gt;</code></pre>
            </div>
          </div>
          <!-- END / Icon btn -->

          <!-- START / Round btn -->
          <div class="style-guide-element">
            <div class="style-guide-preview-container">
              <div class="style-guide-preview-content">
                <button class="button medium secondary round"><i class="ion-chatbox-working"></i></button>
              </div>
            </div>
            <div class="style-guide-code">
              <pre class="language-html"><code class="language-html">&lt;button class="button [size] [color] [type]"&gt;&lt;i class="[classIcon]"&gt;&lt;/i&gt;&lt;/button&gt;</code></pre>
            </div>
          </div>
          <!-- END / Round btn -->

          <!-- START / Ripple effect -->
          <div class="style-guide-element">
            <div class="style-guide-preview-container">
              <div class="style-guide-preview-content">
                <button class="button small primary ripple"><i class="ion-chatbox-working"></i>Ripple Effect</button>
              </div>
            </div>
            <div class="style-guide-code">
              <pre class="language-html"><code class="language-html">&lt;button class="button [size] [color] ripple"&gt;&lt;i class="[classIcon]"&gt;&lt;/i&gt;icône Button &lt;/button&gt;</code></pre>
            </div>
          </div>
          <!-- END / Ripple effect -->



          <h4 class="style-guide-sub-title">Options styles</h4>
          <!-- START / Options Size -->
          <div class="style-guide-element options">
            <div class="style-guide-preview-container">
              <div class="style-guide-preview-content">
               [size]
              </div>
            </div>
            <div class="style-guide-code">
              <ul class="style-guide-list-options">
                <li>small</li>
                <li>medium</li>
                <li>large</li>
              </ul>
            </div>
          </div>
          <!-- END / Options Size -->

          <!-- START / Options Color -->
          <div class="style-guide-element options">
            <div class="style-guide-preview-container">
              <div class="style-guide-preview-content">
                [color]
              </div>
            </div>
            <div class="style-guide-code">
              <ul class="style-guide-list-options">
                <li>primary</li>
                <li>secondary</li>
                <li>green</li>
                <li>yellow</li>
                <li>red</li>
              </ul>
            </div>
          </div>
          <!-- END / Options Color -->

          <!-- START / Options Type -->
          <div class="style-guide-element options">
            <div class="style-guide-preview-container">
              <div class="style-guide-preview-content">
                [type]
              </div>
            </div>
            <div class="style-guide-code">
              <ul class="style-guide-list-options">
                <li>round</li>
              </ul>
            </div>
          </div>
          <!-- END / Options Type -->

          <!-- START / Options Position Icon -->
          <div class="style-guide-element options">
            <div class="style-guide-preview-container">
              <div class="style-guide-preview-content">
                [positionIcon]
              </div>
            </div>
            <div class="style-guide-code">
              <ul class="style-guide-list-options">
                <li>has-icon-left</li>
                <li>has-icon-right</li>
              </ul>
            </div>
          </div>
          <!-- END / Options Position Icon -->
        </div>
      </div>
    </div>
  </div>
</section>