<section class="style-guide-block">
  <div class="row">
    <h1 class="small-24 columns style-guide-title">Boutons</h1>

    <div class="small-24 columns style-guide-section-content">
      <div class="row">
        <div class="small-24 column">
          <div class="style-guide-note">
            <h1 class="style-guide-note-title">Note</h1>
            <p>Les boutons doivent toujours ressembler à ceux-ci grâce à une combinaison de classes de modificateurs détaillées ci-dessous.
              Vous retrouverez les styles des boutons sur la feuille de style ce trouvant dans <strong>styles/components/buttons.scss</strong>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>