<div class="column auto newCustomerDetail">
    <div class="row newCustomerDetail-container-label space-top-30">
        <h6 class="column small-24 title-section">{{'company.vats' | translate}}</h6>
        <hr class="column small-24">
    </div>

    <form *ngIf="editMode" novalidate
          class="row newCustomerDetail-container" #vatForm="ngForm"
          (submit)="addVat()">
        <div class="column">

            <div class="row align-middle newCustomerDetail-container-content">
                <h6 class="column shrink">{{'company.vats.vat' | translate}}</h6>
                <div class="column auto">
                    <input type="text"
                           class="form-control"
                           [disabled]="!editMode"
                           ngModel required name="vat">
                </div>

                <h6 class="column shrink">{{'company.vats.amount' | translate}}</h6>
                <div class="column auto">
                    <input type="number"
                           class="form-control"
                           [disabled]="!editMode"
                           ngModel name="amount">
                </div>

                <div class="columns auto text-right">
                    <button *ngIf="editMode"
                            type="submit"
                            [disabled]="vatForm.invalid"
                            class="round medium primary ripple">
                        <i class="ion-plus-round"></i>
                    </button>
                </div>
            </div>
        </div>
    </form>

    <ng-container *ngIf="vats">
        <div class="row newCustomerDetail-container"
             *ngFor="let vat of vats; let i = index">
            <div class="column space-top-5">

                <div class="row align-middle newCustomerDetail-container-content">
                    <h6 class="column shrink">{{'company.vats.vat' | translate}}</h6>
                    <div class="column auto">
                        <input type="text" name="vat"
                               class="form-control"
                               [(ngModel)]="vats[i].vat"
                               [disabled]="!editMode">
                    </div>

                    <h6 class="column shrink">{{'company.vats.amount' | translate}}</h6>
                    <div class="column auto">
                        <input type="number"  name="amount"
                               class="form-control"
                               [(ngModel)]="vats[i].amount"
                               [disabled]="!editMode">
                    </div>
 <!--FIXME  CSS  add disabled class management to 'round' button  -->
                    <div class="columns auto text-right">
                        <button *ngIf="editMode"
                                type="button"
                                (click)="deletedVat(vat)"
                                class="round medium red ripple columns shrink">
                            <i class="ion-close-round"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>

</div>
