<div class="customerFilter">
    <div class="row">
        <div class="columns shrink">
            <div class="row align-middle">
                <div class="columns shrink">
                    {{'customers.filter.title' | translate}}
                </div>

                <div class="columns">
                    <button type="button" (click)="toggleFilter('NAME')"
                            [ngClass]="{'isActive green': filterString ===  'NAME'}"
                            class="round large listFilter-item ">
                        {{'customers.filter.az' | translate}}
                    </button>
                </div>

                <div class="columns">
                    <button type="button" (click)="toggleFilter('CREATIONDATE')"
                            [ngClass]="{'isActive green': filterString ===  'CREATIONDATE'}"
                            class="round large listFilter-item">
                        {{'customers.filter.date' | translate}}
                    </button>
                </div>

                <div class="columns">
                    <button type="button" (click)="toggleFilter('LASTPAIDINVOICE')"
                            [ngClass]="{'isActive green': filterString ===  'LASTPAIDINVOICE'}"
                            class="round large listFilter-item">
                        {{'customers.filters.ca' | translate}}
                    </button>
                </div>
            </div>
        </div>

        <div class="columns auto">
            <input class="input search small" type="text" placeholder="Recherche"
                   name="search"
                   ngModel #query debounce (func)="search(query.value)">
        </div>

        <button class="button medium green columns shrink ripple"
                routerLink="/customers/new">
            <i class="ion-plus-round"></i>{{'customers.filter.client' | translate}}
        </button>
    </div>

    <!-- Invoice number -->

    <div class="customerDetail inner-space-top-15">
        <h6> {{companies?.length}} {{'customers.total.client' | translate}}
            0 {{'customers.total.deal' | translate}}</h6>
    </div>
</div>

<!-- [END HEADER] -->

<customers-list [companies]="companies | orderBy: filterString"></customers-list>


