<div class="customerFilter">
  <div class="row">
    <div class="columns shrink">
      <div class="row align-middle">
        <div class="columns shrink">
          {{'customers.filter.title' | translate}}
        </div>

        <div class="columns">
          <button type="button" (click)="toggleFilter('az')"
                  [ngClass]="{'isActive green': filterString ===  'az'}"
                  class="round large listFilter-item ">
            {{'customers.filter.az' | translate}}
          </button>
        </div>

        <div class="columns">
          <button type="button"  (click)="toggleFilter('date')"
                  [ngClass]="{'isActive green': filterString ===  'date'}"
                  class="round large listFilter-item">
            {{'customers.filter.date' | translate}}
          </button>
        </div>

        <div class="columns">
          <button type="button"  (click)="toggleFilter('revenue')"
                  [ngClass]="{'isActive green': filterString ===  'revenue'}"
                  class="round large listFilter-item">
            {{'customers.filters.ca' | translate}}
          </button>
        </div>
      </div>
    </div>

    <div class="columns auto">
      <input class="input search small" type="text" placeholder="Recherche"
             ngModel #search>
    </div>

    <button class="button large green columns shrink ripple" routerLink="/customers/new">
      <i class="ion-plus-round"></i>{{'customers.filter.client' | translate}}
    </button>
  </div>

  <!-- Invoice number -->

  <div class="customerDetail">
    <h6> {{'customers.total.client' | translate}}
        pour un nombre total de {{'customers.total.deal' | translate}}</h6>
  </div>
</div>

<!-- [END HEADER] -->


<customers-list [companies]="companies" [filterString]="filterString"></customers-list>
