@import '../../../styles/base-component';

@include new('invoiceListHome') {
    background-color:  $app-main-dark-color;
    height: rem-calc(50px);
    margin-top: rem-calc(20px);

  @include has('number') {
    display: flex;
    line-height: rem-calc(50px);
    margin-left: rem-calc(20px);
    color: white;
  }

  @include has('status') {
      display: flex;
      align-content: center;

    &:hover,
    &:focus {

    }

    @include has('isActive') {
      border-bottom: 2px solid deeppink;
      }
  }


  @include has('button-large') {
    display: flex;
    align-content: flex-end;
    line-height: rem-calc(50px);
  }
}
