@import '../../../styles/base-component';

@include new('invoiceListHome') {
  background-color: $app-main-dark-color;
  height: rem-calc(50px);

  @include has('number') {
    line-height: rem-calc(50px);
    color: white;
  }

  @include has('status') {
    display: flex;
    position: relative;
  }

  @include has('action') {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}

// ---- Invoice List Table

@include new('invoiceList') {
  padding: rem-calc(10px);
  border-spacing: 0;

  @include has('row') {
    background-color: $content-dark-list-color;

    &:nth-child(even) {
      background-color: $content-light-list-color;
    }

    tr {
      background-color: transparent;

      td {
        padding: 0;
        padding-top: rem-calc(10px);
      }

      + tr td {
        padding-top: 0;
        padding-bottom: rem-calc(15px);
      }
    }
  }

  @include has('item-label') {
    color: $body-light-font-color;
    font-weight: 500;

    img {
      width: rem-calc(15px);
    }
  }

  @include has('item-value') {
    color: $body-dark-font-color;
    font-weight: 500;
  }
}


// Tab Dashboard

invoices-list {
  position: relative;
  display: block;
  height: calc(100vh - 294px);
  width: calc(100vw - #{$sidebar-width-md});
  overflow-y: auto;

  @include breakpoint(large only) {
    width: calc(100vw - #{$sidebar-width-lg});
  }

  spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.tab-content {
  padding: 0;
}