@import '../../../styles/base-component';

@include new('invoiceListHome') {
    background-color:  $app-main-dark-color;
    height: rem-calc(50px);
    margin-top: rem-calc(20px);

  @include has('number') {
    line-height: rem-calc(50px);
    margin-left: rem-calc(20px);
    color: white;
  }


  @include has('button-large') {
    display: flex;
    align-content: flex-end;
    line-height: rem-calc(50px);
  }
}
