<!-- [DASHBOARD] -->
<!--<div class="row container-charts-dashboard">-->
    <!--<div class="small-8 column">-->
        <!--<div class="row">-->
            <!--<div class="small-24 column">-->
                <!--<div class="block-container">-->
                    <!--<h6 class="title-section">{{'dashboard.chart.division' | translate}}</h6>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="small-24 column">-->
                <!--<div class="block-container">-->
                    <!--<div class="row">-->
                        <!--<div class="small-12 column">-->
                            <!--<h6 class="title-section">{{'newCustomer.label.caInvoiced' | translate}}</h6>-->
                            <!--<span class="nb">{{ '00000'  | currency:'EUR':'symbol':'4.2-2':'fr' }}</span>-->
                        <!--</div>-->
                        <!--<div class="small-12 column">-->
                            <!--<h6 class="title-section">{{'newCustomer.label.caFixed' | translate}}</h6>-->
                            <!--<span class="nb">{{ '00000'  | currency:'EUR':'symbol':'4.2-2':'fr' }}</span>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->

    <!--</div>-->
    <!--<div class="small-16 column full-height">-->
        <!--<div class="block-container">-->
            <!--<h6 class="title-section">{{'dashboard.chart.turnover' | translate}}</h6>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<!-- [END DASHBOARD] -->


<!-- [INVOICE LIST] -->

<div class="row invoiceListHome">
    <div class="column small-24 no-padding">
        <tabs>
            <tab class="row" [tabTitle]="'invoice.status.PREPARE' | translate" tabId="DRAFT"
                 [numberOfElements]="preparedInvoices?.length" [amount]="getAmount(preparedInvoices)">
                <div class="column small-24 tab-content">
                    <invoices-list [invoices]="preparedInvoices" [isPending]="isPending"></invoices-list>
                </div>
            </tab>
            <tab class="row" [tabTitle]="'invoice.status.VALIDATE' | translate" tabId="WAITING_VALIDATION"
                 [numberOfElements]="validatedInvoices?.length" [amount]="getAmount(validatedInvoices)">
                <div class="column small-24 tab-content">
                    <invoices-list [invoices]="validatedInvoices" [isPending]="isPending"></invoices-list>
                </div>
            </tab>
            <tab class="row"  [tabTitle]="'invoice.status.SENT' | translate" tabId="SENT"
                 [numberOfElements]="sentInvoices?.length" [amount]="getAmount(sentInvoices)">
                <div class="column small-24 tab-content">
                    <invoices-list [invoices]="sentInvoices" [isPending]="isPending"></invoices-list>
                </div>
            </tab>
            <tab class="row" [tabTitle]="'invoice.status.REVIVE' | translate" tabId="LATE"
                 [numberOfElements]="reviveInvoices?.length" [amount]="getAmount(reviveInvoices)">
                <div class="column small-24 tab-content">
                    <invoices-list [invoices]="reviveInvoices" [isPending]="isPending"></invoices-list>
                </div>
            </tab>
        </tabs>
    </div>
</div>


<!-- [END INVOICE LIST] -->
