<!-- [DASHBOARD] -->
DASHBOARD

<!-- [END DASHBOARD] -->


<!-- [INVOICE LIST] -->

<div class="invoiceListHome">
    <div class="row align-middle">
        <div class="columns shrink">
            <div class="invoiceListHome-number">
                <b>{{'dashboard.invoices' | translate}}</b> (00) - 00.000 €
            </div>
        </div>

        <div class="columns invoiceListHome-status">
            <a class="status toPrepare" [routerLinkActive]="['isActive']">{{'invoice.status.PREPARE' |
                translate}}</a>
            <a class="status toValidated">{{'invoice.status.VALIDATE' | translate}}</a>
            <a class="status toRelaunched">{{'invoice.status.SENT' | translate}}</a>
            <a class="status toSend">{{'invoice.status.REVIVE' | translate}}</a>
        </div>

        <button class="invoiceListHome-status-button button large green">
            <i class="ion-checkmark-round"></i>
            {{'invoice.status.VALIDATED' | translate}}
        </button>
    </div>
</div>


<!-- [END INVOICE LIST] -->
