<!-- [DASHBOARD] -->
<div class="row container-charts-dashboard">
    <div class="small-8 column">
        <div class="row">
            <div class="small-24 column">
                <div class="block-container">
                    <h6 class="title-section">{{'dashboard.chart.division' | translate}}</h6>
                </div>
            </div>
            <div class="small-24 column">
                <div class="block-container">
                    <div class="row">
                        <div class="small-12 column">
                            <h6 class="title-section">{{'newCustomer.label.caInvoiced' | translate}}</h6>
                            <span class="nb">000,00 €</span>
                        </div>
                        <div class="small-12 column">
                            <h6 class="title-section">{{'newCustomer.label.caFixed' | translate}}</h6>
                            <span class="nb">000,00 €</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="small-16 column full-height">
        <div class="block-container">
            <h6 class="title-section">{{'dashboard.chart.turnover' | translate}}</h6>
        </div>
    </div>
</div>
<!-- [END DASHBOARD] -->


<!-- [INVOICE LIST] -->

<div class="invoiceListHome">
    <div class="  row align-middle">
        <tabs [selectedInvoices]="invoices" [amount]="amount">
            <tab [tabTitle]="'invoice.status.PREPARE' | translate" tabId="PREPARE">
                <div class="full-height space-top-8">
                    prepare
                </div>
            </tab>
            <tab [tabTitle]="'invoice.status.VALIDATE' | translate" tabId="VALIDATE">
                <div class="full-height space-top-8">
                    v alidate
                </div>
            </tab>
            <tab [tabTitle]="'invoice.status.SENT' | translate" tabId="SENT">
                <div class="full-height space-top-8">
                    sent
                </div>
            </tab>
            <tab [tabTitle]="'invoice.status.REVIVE' | translate" tabId="REVIVE">
                <div class="full-height space-top-8">
                    REVIVE
                </div>
            </tab>
        </tabs>
    </div>
</div>


<!-- [END INVOICE LIST] -->
