<div class="invoiceFilter">
  <div class="invoiceFilter-label">
    <div class="invoiceFilter-label-name">Tri</div>
      <div class="list-filter">
        <div class="item-filter isActive">
          <a class="item-filter-link" href="#">Réf</a>
        </div>
        <div class="item-filter">
          <a  class="item-filter-link" href="#">Date</a>
        </div>
      </div>
    </div>

  <div class="invoiceFilter-search">
    <input class="input-search" type="text" placeholder="Recherche">
  </div>

  <div class="button-large">
    <a href="#" class="button">Nouvelle facture</a>
  </div>

  <div class="list-filter">
    <div class="item-filter isActive">
      <a href="#" class="item-filter-link"><img class="item-filter-table " src="assets/images/png/icon_excel.png"></a>
    </div>
  </div>
</div>

<!--<select name="one">
  <option value="">Select…</option>
  <option value="1">Option #1</option>
  <option value="2">Option #2</option>
  <option value="3">Option #3</option>
</select>-->

<table class="invoiceList">
    <tbody class="invoiceList-row" *ngFor="let invoice of invoices">
        <tr>
          <td>
            <div class="invoiceList-item-label">Référence client</div>
          </td>
          <td>
            <span class="invoiceList-item-label">Date :</span>
            <span class="invoiceList-item-value">{{invoice.invoiceDate}}</span>
          </td>
          <td>
            <span class="invoiceList-item-label">Affaire :</span>
            <span class="invoiceList-item-value">{{invoice.deal}}</span>
          </td>
          <td>
            <span class="invoiceList-item-label">Montant HT :</span>
            <span class="invoiceList-item-value">{{invoice.amount}}</span>
          </td>
          <td>
            <div class="invoiceList-item-label">TVA</div>
          </td>
          <td>
            <span class="invoiceList-item-label"><img src="assets/images/svg/icon_comments.svg"></span>
            <span class="invoiceList-item-value">{{invoice.comments.length}}</span>
          </td>
          <td>
            <div class="invoiceList-item-label">Statut</div>
          </td>
          <td rowspan="2">
            <div class="invoiceList-item-button button-small">
              <a class="button" href="#">4PM</a>
            </div>
          </td>
        </tr>

        <tr>
          <td>
            <div class="invoiceList-item-value text blue-text">{{invoice.number}} - {{invoice.client}} </div>
          </td>
          <td>
            <span class="invoiceList-item-label">Échéance :</span>
            <span class="invoiceList-item-value">{{invoice.deadlineDate}}</span>
          </td>
          <td>
            <span class="invoiceList-item-label">Type :</span>
            <span class="invoiceList-item-value">{{invoice.type}}</span>
          </td>
          <td>
            <span class="invoiceList-item-label">Montant TTC :</span>
            <span class="invoiceList-item-value">{{invoice.freeTaxAmount}}</span>
          </td>
          <td>
            <div class="invoiceList-item-value">{{invoice.tax}}</div>
          </td>
          <td>
            <span class="invoiceList-item-label"><img src="assets/images/svg/icon_attachments.svg"></span>
            <span class="invoiceList-item-value">{{invoice.attachments.length}}</span>
          </td>
          <td>
            <div class="invoiceList-item-value status is-{{invoice.status}}">{{getStatusLabel(invoice.status)}}</div>
          </td>
        </tr>
    </tbody>
</table>
