@import '../../../styles/base-component';


@include new('invoiceFilter') {
  padding: rem-calc(20px 20px 0 12px);

  @include has('search') {
    margin-left: rem-calc(50px);

    &:focus {
      transition: 0.30s ease;
      color: $input-border-color;
    }
  }
}

@include new('invoiceNumber') {
  margin: rem-calc(35px 0 0 0);
  padding-left: 8px;
}

// ---- Customer Button

@include new('invoiceNewButton') {
  display: flex;
  margin-right: rem-calc(8px);
}


// ---- Invoice Select Table

@include new('invoiceSelect') {
    cursor: pointer;

  @include has('item') {
    cursor: pointer;
  }
}

// ---- Invoice List Table

@include new('invoiceList') {
  padding: rem-calc(10px);
  border-spacing: 0;
  cursor: pointer;

  @include has('row') {
    background-color: $content-dark-list-color;
    padding-left: 4px;

    &:hover {
      background-color: $content-hover-list-color;
      box-shadow: 0 0 8px -2px #aaa;
    }

    &:nth-child(even) {
      background-color: $content-light-list-color;

      &:hover {
        background-color: $content-hover-list-color;
        box-shadow: 0 0 8px -2px #aaa;
      }
    }

    tr {
      background-color: transparent;

      td {
        padding: 16px 0 0 8px;
      }

      + tr td {
        padding: 2px 0 8px 8px;
      }
    }
  }

  @include has('label') {
    color: $body-light-font-color;
    font-weight: 500;

    img {
      width: rem-calc(15px);
    }
  }

  @include has('value') {
    color: $body-dark-font-color;
    font-weight: 500;
  }
}


