<!-- [HEADER] -->

<div class="invoiceFilter">
    <div class="row">
        <div class="columns shrink">
            <div class="row align-middle listFilter">
                <div class="columns shrink listFilter-label">
                    {{'invoices.filter.title' | translate}}
                </div>

                <div class="columns">
                    <div class="listFilter-item isActive">
                        {{'invoices.filter.ref' | translate}}
                    </div>
                </div>

                <div class="columns">
                    <div class="listFilter-item">
                        {{'invoices.filter.date' | translate}}
                    </div>
                </div>
            </div>
        </div>

        <div class="columns">
            <div class="invoiceFilter-search">
                <input class="input-search" type="text" placeholder="Recherche">
            </div>
        </div>

        <div class="columns shrink">
            <div class="button-large">
                <a href="#" class="button">Nouvelle facture</a>
            </div>

            <div class="listFilter">
                <div class="listFilter-item">
                    <a href="#" class="listFilter-item-link">
                        <img class="listFilter" src="assets/images/png/icon_excel.png">
                    </a>
                </div>
            </div>
        </div>
    </div>


    <!-- Select input -->

    <div class="invoiceSelect">
        <div class="date-select position">
            <input type="date">
        </div>

        <div class="client-select position">
            <select>
                <option value="client">- Selection client -</option>
            </select>
        </div>

        <div class="status-filter position">
            <select>
                <option value="status">- Tous les statuts -</option>
            </select>
        </div>

        <div class="types-filter position">
            <select>
                <option value="types">- Tous les types -</option>
            </select>
        </div>
    </div>

    <!-- Invoice number -->

    <div class="invoiceNumber">
        <h6>04 factures pour un nombre total de 00,000€</h6>
    </div>

</div>
<!-- [END HEADER] -->


<!-- [INVOICE LIST] -->

<table class="invoiceList">
    <tbody class="invoiceList-row" *ngFor="let invoice of invoices">
    <tr>
        <td>
            <div class="invoiceList-item-label">Référence client</div>
        </td>
        <td>
            <span class="invoiceList-item-label">Date :</span>
            <span class="invoiceList-item-value">{{invoice.invoiceDate}}</span>
        </td>
        <td>
            <span class="invoiceList-item-label">Affaire :</span>
            <span class="invoiceList-item-value">{{invoice.deal}}</span>
        </td>
        <td>
            <span class="invoiceList-item-label">Montant HT :</span>
            <span class="invoiceList-item-value">{{invoice.amount}}</span>
        </td>
        <td>
            <div class="invoiceList-item-label">TVA</div>
        </td>
        <td>
            <span class="invoiceList-item-label"><img src="assets/images/svg/icon_comments.svg"></span>
            <span class="invoiceList-item-value">{{invoice.comments.length}}</span>
        </td>
        <td>
            <div class="invoiceList-item-label">Statut</div>
        </td>
        <td rowspan="2">
            <a class="invoiceList-item-button circleButton small primary">
                4PM
            </a>
        </td>
    </tr>

    <tr>
        <td>
            <div class="invoiceList-item-value text blue-text">{{invoice.number}} - {{invoice.client}}</div>
        </td>
        <td>
            <span class="invoiceList-item-label">Échéance :</span>
            <span class="invoiceList-item-value">{{invoice.deadlineDate}}</span>
        </td>
        <td>
            <span class="invoiceList-item-label">Type :</span>
            <span class="invoiceList-item-value">{{invoice.type}}</span>
        </td>
        <td>
            <span class="invoiceList-item-label">Montant TTC :</span>
            <span class="invoiceList-item-value">{{invoice.freeTaxAmount}}</span>
        </td>
        <td>
            <div class="invoiceList-item-value">{{invoice.tax}}</div>
        </td>
        <td>
            <span class="invoiceList-item-label"><img src="assets/images/svg/icon_attachments.svg"></span>
            <span class="invoiceList-item-value">{{invoice.attachments.length}}</span>
        </td>
        <td>
            <div class="invoiceList-item-value status is-{{invoice.status}}">{{getStatusLabel(invoice.status)}}</div>
        </td>
    </tr>
    </tbody>
</table>

<!-- [END INVOICE LIST] -->
