
<ng-select *ngIf="companies && !isBindingId"
           [items]="companies"
           [bindLabel]="label"
           placeholder="{{'invoices.filter.client' | translate}}"
           clearAllText="isClearable"
           [ngModel]="control.value"
           (ngModelChange)="update($event)">
</ng-select>

<ng-select *ngIf="companies && isBindingId"
           [items]="companies"
           [bindValue]="bindValue"
           [bindLabel]="label"
           placeholder="{{'invoices.filter.client' | translate}}"
           clearAllText="isClearable"
           [ngModel]="control.value"
           (ngModelChange)="update($event)">
</ng-select>
