<div class="row quick-status-panel">
    <div class="columns shrink">
        <div class="row align-middle text-center">
            <div class="columns small-24 quick-status-panel-header">
                {{'dashboard.quickEdition.title' | translate}}
                <h5>{{invoice.object}}</h5>
                <span class="quick-status-panel-header-close">
                    <i class="ion-close"></i>
                </span>
            </div>
        </div>

        <div class="row quick-status-panel-content">
            <div class="columns small-24">
                <select [(ngModel)]="invoice.status">
                    <option value="">{{'invoice.status.all' | translate}}</option>
                    <option *ngFor="let status of statuses" [ngValue]="status">
                        {{'invoice.status.' + status | translate}}
                    </option>
                </select>
            </div>
            <div class="columns small-24">
                {{'dashboard.quickEdition.comment'|translate}}
                <textarea [(ngModel)]="invoice.comment"
                          rows="10" cols="50">
                </textarea>
            </div>
            <div class="columns small-24 text-right">
                <button class="button medium green ripple"
                        (click)="updateInvoice()">
                    <i class="ion-checkmark"></i>{{ 'dashboard.quickEdition.save' | translate}}
                </button>
            </div>
        </div>
    </div>
</div>
