@import '../../../../styles/base-component';

// ---- Invoice List Table

@include new('customerList') {
  padding: 4px 1em 4px 1em !important;
  border-spacing: 0;


  @include has('row') {
    background-color: $content-dark-list-color;

    &:nth-child(even) {
      background-color: $content-light-list-color;
    }

    tr {
      padding: 0 16px;
      background-color: transparent;

      td {
        padding: 0 16px;

        .customer-name {
          color: $shakespeare;
          font-weight: bold;
          font-size: 18px;
        }
      }

      + tr td {
        padding-top: 0;
        padding-bottom: rem-calc(15px);
      }
    }
  }

  @include has('item-label') {
    color: $body-light-font-color;
    font-weight: 500;
  }

  @include has('item-value') {
  color: $body-dark-font-color;
  font-weight: 500;
  }
}
