<!-- [CUSTOMER LIST] -->
<spinner [hidden]="!isPending"></spinner>

<table class="customerList selectable">
<tbody class="customerList-row" *ngFor="let customer of companies"
(click)="goToDetail(customer)">
    <!-- Table Column 1 -->
    <tr>
        <td width="400">
            <div class="customerList-item-label">{{'customers.label.name' | translate}}:</div>
        </td>
        <td>
            <span class="customerList-item-label">{{'customers.label.lastSent' | translate}}:<br></span>
            <span class="customerList-item-value inner-space-left-40"> {{customer.lastSendDate | date: 'dd MMM. yyyy'}}</span>
        </td>
        <td>
            <span class="customerList-item-label">{{'customers.label.contact' | translate}}:</span>
        </td>
        <td>
            <div class="customerList-item-label text-right">{{'customers.label.number' | translate}}</div>
            <span class="customerList-item-label">{{'customers.label.lastFinancialYear' | translate}}: </span>
            <span class="customerList-item-value float-right">0</span>
        </td>
        <td>
            <div class="customerList-item-label text-right">{{'customers.label.ca' | translate}}</div>
            <span class="customerList-item-value float-right">{{ '000000' | currency:'EUR':'symbol':'4.2-2':'fr' }}</span>
        </td>
    </tr>

    <!-- Table Column 2 -->
    <tr>
        <td rowspan="4">
            <div class="customerList-item-value">
                <a class="customer-name" [routerLink]="['/app/customers/detail/' + customer._id]">{{customer.name}}</a>
            </div>
        </td>
        <td rowspan="2">
            <span class="customerList-item-label">{{'customers.label.lastPayment' | translate}}: <br></span>
            <span class="customerList-item-value inner-space-left-40">{{customer.lastPaymentDate | date: 'dd MMM. yyyy' }}</span>

        </td>
        <td rowspan="2">
            <span class="customerList-item-value inner-space-left-40">{{customer.emailAddress}}</span>
        </td>
        <td class="force-inner-space-bottom-0">
            <span class="customerList-item-label">{{'customers.label.financialYear' | translate}}:</span>
            <span class="customerList-item-value float-right">0</span>
        </td>
        <td class="force-inner-space-bottom-0 float-right">
            <span class="customerList-item-value">{{ '000000' | currency:'EUR':'symbol':'4.2-2':'fr' }}</span>
        </td>
    </tr>

    <!-- Table Column 3 -->
    <tr>
        <td>
            <span class="customerList-item-label">{{'customers.label.nextFinancialYear' | translate}}:</span>
            <span class="customerList-item-value float-right">0</span>
        </td>
        <td>
            <span class="customerList-item-value float-right">{{ '000000' | currency:'EUR':'symbol':'4.2-2':'fr' }}</span>
        </td>
    </tr>
</tbody>
</table>