<div class="block-container row">
    <div class="column auto newCustomerDetail">
        <div class="row newCustomerDetail-container-label">
            <h6 class="column small-24 title-section">{{'line.title' | translate}}</h6>
            <hr class="column small-24">
        </div>
        <div *ngIf="editMode" class="row newCustomerDetail-container">
            <div class="column">
                <invoice-line-header [vatEnabled]="vatEnabled"></invoice-line-header>
                <invoice-line-form [line]="newLine"
                                   [companyRef]="companyRef"
                                   [editionMode]="'CREATION'"
                                   [editable]="editMode"
                                   [vatEnabled]="vatEnabled"
                                   (lineAdded)="addLine($event)">
                </invoice-line-form>
            </div>
        </div>
        <ng-container *ngIf="lines && lines.length > 0">
            <div class="column">
                <invoice-line-header [vatEnabled]="vatEnabled"></invoice-line-header>
                <invoice-line-form [line]="line" *ngFor="let line of lines"
                                   [companyRef]="companyRef"
                                   [editionMode]="'EDITION'"
                                   [editable]="editMode"
                                   [vatEnabled]="vatEnabled"
                                   (lineDeleted)="deleteLine($event)"
                                   (lineMoved)="lineMoved($event)">
                </invoice-line-form>
            </div>
        </ng-container>
    </div>
</div>