<div class="row align-middle newCustomerDetail-container-content space-bottom-15">
  <div class="small-24">
    <div class="row">
      <h6 class="column small-10 text-center">{{'line.designation' | translate}}</h6>
      <h6 class="column text-center" [class.small-3]="vatEnabled" [class.small-4]="!vatEnabled">{{'line.quantity' | translate}}</h6>
      <h6 class="column text-center" [class.small-3]="vatEnabled" [class.small-4]="!vatEnabled">{{'line.cost.unit' | translate}}</h6>
      <h6 class="column text-center small-4" >{{'line.grossAmount' | translate}}</h6>
      <h6 *ngIf="vatEnabled" class="column small-2 text-center">{{'line.purcent' | translate}}</h6>
      <h6 class="column small-2 text-center"></h6>
    </div>
  </div>
</div>