<div class="style-guide-container">
  <div class="row style-guide-content">

    <!-- NAV MENU - STYLE GUIDE -->
    <div class="small-5 column style-guide-nav-menu-container">
      <div class="row style-guide-nav-menu">
        <div class="style-guide-nav-menu-title">
          <h1 class="style-guide-nav-menu-header-title">Style Guide</h1>
          <span class="style-guide-name-project">RxInvoice</span>
          <hr>
        </div>

        <ul class="small-24 column">
          <li class="style-guide-item-section-nav"><a>ATOMS</a></li>
          <ul class="style-guide-sub-nav">
            <li><a routerLinkActive="active" routerLink="/guide/colors">Couleurs</a></li>
            <li><a routerLinkActive="active" routerLink="/guide/typography">Typography</a></li>
            <li><a routerLinkActive="active" routerLink="/guide/icons">Icônes</a></li>
            <li><a routerLinkActive="active" routerLink="/guide/buttons">Boutons</a></li>
            <li><a routerLinkActive="active" routerLink="/guide/forms">Forms</a></li>
          </ul>
          <li class="style-guide-item-section-nav"><a>MOLECULES</a></li>
        </ul>
      </div>
    </div>
    <!-- NAV MENU - STYLE GUIDE - END -->

    <!-- CONTENT - STYLE GUIDE -->
    <div class="small-19 column style-guide-block-container">
      <router-outlet></router-outlet>
    </div>
    <!-- CONTENT - STYLE GUIDE - END-->
  </div>
</div>
