<section class="style-guide-block">
  <div class="row">
    <h1 class="small-24 columns style-guide-title">Form</h1>

    <div class="small-24 columns style-guide-section-content">
      <div class="style-guide-note">
        <h1 class="style-guide-note-title">Note</h1>
        <p>Retrouvez les styles des éléments de formulaire sur la feuille de style ce trouvant dans <strong>styles/components/form.scss</strong>
        </p>
      </div>

      <h4 class="style-guide-sub-title">Bases styles Input / Select</h4>
      <!-- START / Basic Input -->
      <div class="style-guide-element">
        <div class="style-guide-preview-container">
          <div class="style-guide-preview-content">
              <label class="form-group">Label input
                <input class="form-control" name="" type="text" required>
              </label>
          </div>
        </div>
        <div class="style-guide-code">
          <pre class="language-html"><code class="language-html">&lt;label class="form-group"&gt;Label input&lt;input class="form-control" name="" type="text"&gt;&lt;/label&gt;</code></pre>
        </div>
      </div>
      <!-- END / Basic Input -->

      <!-- START / Basic Input with Stripe Label -->
      <div class="style-guide-element">
        <div class="style-guide-preview-container">
          <div class="style-guide-preview-content">
            <label class="label-strip dark">Label Strip</label>
            <input  class="form-control" name="" type="text">
          </div>
        </div>
        <div class="style-guide-code">
          <pre class="language-html"><code class="language-html">&lt;label class="label-strip dark">Label Strip &lt;/label&gt;&lt;input class="form-control" name="" type="text"&gt;</code></pre>
        </div>
      </div>
      <!-- END / Basic Input with Stripe Label -->

      <!-- START / Basic Select -->
      <div class="style-guide-element">
        <div class="style-guide-preview-container">
          <div class="style-guide-preview-content">
            <select>
              <option value="">Option Select</option>
              <option>Option Select</option>
            </select>
          </div>
        </div>
        <div class="style-guide-code">
          <pre class="language-html"><code class="language-html">&lt;select&gt;&lt;option value=""&gt;Option Select&lt;/option&gt;&lt;option&gt;Option Select&lt;/option&gt;&lt;/select&gt;</code></pre>
        </div>
      </div>
      <!-- END / Basic Select -->
    </div>
  </div>
</section>