// -----------------------------------------------------------------------------
// This file contains all styles related to the BUTTONS component.
// -----------------------------------------------------------------------------


//---- Button types ---- //


@include new('largeButton') {
  font-size: 1.2rem;
  border-radius: rem-calc(4px);
  background-color: $sushi;
  margin-right: rem-calc(10px);
  padding: rem-calc(10px 30px);
  cursor: pointer;

  a {
    color: white;
  }

    &:hover,
    &:focus {
      background-color: mix($sushi, black, 80%);
    }
  }

  @include new('circleButton') {
    display: flex;
    justify-content: center;
    align-items: center;
    width: rem-calc(40px);
    height: rem-calc(40px);
    border: rem-calc(2px) solid $button-light-circle-color;
    font-size: rem-calc(12px);
    color: $body-dark-font-color;
    transition: all 300ms;
    border-radius: rem-calc(40px);
    cursor: pointer;

    &:hover,
    &:focus {
      border-color: $sushi;
    }

    a img {
      width: rem-calc(22px);
    }
  }
