// -----------------------------------------------------------------------------
// This file contains all styles related to the GENERA LEFT PANE component.
// -----------------------------------------------------------------------------

// ================ //
// Left Pane General Style
// ================ //

.left-pane-container {
  display: block;
  height: calc(100% - 80px);
  width: 100%;
  overflow: hidden;
  overflow-y: auto;
}

.left-pane {
  position: relative;
  background-position: bottom right !important;
  background-size: 100% !important;
  background-repeat: no-repeat !important;

  &.flight {
    background-image: url($img-main-path + "png/bg-flight-bar.png");
  }
  &.bundle {
    background-image: url($img-main-path + "png/bg-bundle-bar.png");
  }
}

// ---- List Details

.entity-details {
  display: block;
  width: 100%;
  height: auto;
  padding: rem-calc(25px);
  padding-bottom: rem-calc(5px);

  .left-pane-infos {
    display: block;
    margin-bottom: rem-calc(10px);

    label {
      display: block;
      text-transform: uppercase;
      letter-spacing: rem-calc(1px);
      font-size: rem-calc(11px);
      color: lighten($medium-grey, 10%);
      font-weight: bold;
    }

    .value-left-pane {
      font-size: rem-calc(26px);
      color: $dark-grey;

      i {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        margin-right: rem-calc(10px);
      }

      // ---- Size left pane infos

      &.small {
        font-size: rem-calc(15px);
        i {
          font-size: rem-calc(18px);
          margin-right: rem-calc(5px);
        }
      }
    }

    // ---- Specific Style left pane infos

    &.value-orig {
      margin-bottom: rem-calc(20px);

      i {
        &:after {
          display: block;
          position: absolute;
          bottom: rem-calc(-25px);
          left: 50%;
          transform: translate(-50%, -50%);
          height: rem-calc(18px);
          width: rem-calc(1px);
          border: rem-calc(2px) dotted $primary;
          content: '';
        }
      }
    }
  }
}

// ---- List Status

.entity-status {
  width: 100%;
}

// ----- Left Pane Footer

.left-pane-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: rem-calc(20px 0);
  text-align: center;
}


