.legend-list {
  margin: 0;
  padding: rem-calc(22px);

  @include breakpoint(medium only) {
    text-align: right;
  }

  .legend-item {
    display: inline-block;
    font-size: rem-calc(11px);
    text-transform: uppercase;
    margin: rem-calc(0 10px);

    .legend-item-bullet {
      display: inline-block;
      vertical-align: middle;
      height: rem-calc(24px);
      width: rem-calc(24px);
      margin-right: rem-calc(5px);
      background: $special-medium-grey;
      color: $special-dark-grey;
      text-align: center;
      line-height: rem-calc(24px);
      border-radius: 100%;
      font-size: rem-calc(12px);

      @include breakpoint(medium only) {
        display: block;
        margin: 0 auto;
      }
    }
  }
}