// -----------------------------------------------------------------------------
// This file contains all styles related to the FILTERS component.
// -----------------------------------------------------------------------------


// --- Circle Filter --- //

@include new('listFilter') {

  @include has('label') {
    color: $body-dark-font-color;
    font-weight: 500;
  }

  @include has('item') {
    display: flex;
    justify-content: center;
    align-items: center;
    width:rem-calc(40px);
    height:rem-calc(40px);
    border: rem-calc(2px) solid $button-border-light-color ;
    font-size: rem-calc(12px);
    color: $body-dark-font-color;
    transition: all 300ms;
    border-radius: rem-calc(40px);
    cursor: pointer;

    &:hover,
    &:focus {
      border-color: $button-primary-color;
    }

    @include when('isActive') {
      color: white;
      background-color: $button-primary-color;
    }
  }
}


// --- MultiSelect Filter --- //

@include new('invoiceSelect') {
  margin-top: rem-calc(30px);
}

select {
  border: 1px solid $black-squeeze;
  box-shadow: 1px 1px 12px 0px $black-squeeze;
}

