// -----------------------------------------------------------------------------
// This file contains all styles related to the FILTERS component.
// -----------------------------------------------------------------------------


// --- Circle Filter --- //

@include new('listFilter') {

  @include has('label') {
    font-weight: 500;
  }

  @include has('item') {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    @extend %transition;
    @extend %rippleEffect;
    font-weight: bold !important;
    font-size: 12px !important;
    color: $geyser;


    &:hover, &:focus, &:active {
      @extend %transition;
      background-color: $wild-sand;
      border-color: $wild-sand;
    }

    @include when('isActive') {
      color: white !important;
      background-color: $button-primary-color;
    }
  }
}

// --- MultiSelect Filter --- //

select {
  border: 1px solid $black-squeeze;
  box-shadow: 1px 1px 12px 0px $black-squeeze;
}

