// -----------------------------------------------------------------------------
// This file contains all styles related to the NG SELECT component.
// -----------------------------------------------------------------------------

// ================ //
// Ng Select Custom
// ================ //

ng-select {
  .below {
    height: rem-calc(39px);
    padding: rem-calc(5px);
    margin: rem-calc(0 0 16px);
    border-color: $line-grey;
    border-radius: $global-radius;
    color: $dark-grey;
  }

  select-dropdown .highlighted {
    @extend %transition;
    background-color: $primary;

    &.selected {
      @extend %transition;
      background-color: $primary;
    }
  }
}