// -----------------------------------------------------------------------------
// This file contains all styles related to the STATUS component.
// -----------------------------------------------------------------------------

// SKIN STATUS "INVOICE" //



// SKIN STATUS "DASHBOARD" //

.status {
  position: relative;
  padding: rem-calc(4px 16px);
  margin: 0 6px;
  color: white !important;
  background-color: $app-main-color;
  box-shadow: 0 0 2px $status-border-light-color;
  width: rem-calc(120px);
  text-align: center;
  font-size: rem-calc(12px);
  border-radius: rem-calc(50px);

  &:hover {
    &.PREPARE { color: $status-toprepare-color; }
    &.VALIDATED { color: $status-tovalidate-color; }
    &.RELAUNCHED { color: $status-torelaunched-color; }
    &.SEND { color: $status-tosend-color; }

    &.PREPARE:after,
    &.VALIDATED:after,
    &.RELAUNCHED:after,
    &.SEND:after {
      width: 100%;
    }
  }

  &:after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 0;
    transition: 300ms;
  }

  // Type Status

  &.DRAFT                   { background: $status-draft-color; }
  &.READY                   { background: $status-ready-color; }
  &.WAITING_VALIDATION      { background: $status-waiting-validation-color; }
  &.VALIDATED               { background: $status-validated-color; }
  &.SENT                    { background: $status-sent-color; }
  &.PAID                    { background: $status-paid-color; }
  &.PAYMENT_SCHEDULED       { background: $status-payment-scheduled-color; }
  &.LATE                    { background: $status-late-color; }
  &.UNPAID                  { background: $status-unpaid-color; }
  &.CANCELLED               { background: $status-cancelled-color; }

}

.PREPARE { background: $status-toprepare-color !important;}
.VALIDATE { background: $status-tovalidate-color !important;}
.REVIVE { background: $status-torelaunched-color !important;}
.SENT { background: $status-tosend-color !important;}

