// -----------------------------------------------------------------------------
// This file contains all styles related to the STATUS component.
// -----------------------------------------------------------------------------

// --- Skin Status DASHBOARD Invoice List

.statusButton {
  font-size: 1.2rem;
  border-radius: rem-calc(2px);
  background-color: $app-main-color;
  color: white;
  padding: rem-calc(12px 30px);
  cursor: pointer;

  &:hover {

    .is-toPrepare {
      border-bottom: 2px solid $status-toprepare-color;
    }

    .is-toBeValidated {
      border-bottom: 2px solid $status-tovalidate-color;
    }
  }

}


/*
    @include has('is-toPrepare') {
      border-bottom: 2px solid $status-toprepare-color;
    }

    @include has('is-toBeValidated') {
      border-bottom: 2px solid $status-tovalidate-color ;
    }

    @include has('is-toBeRelaunched') {
      border-bottom: 2px solid $status-toberelaunched-color;
    }

    @include has('is-toSend') {
      border-bottom: 2px solid $status-tosend-color;
    }
  }*/


// --- Skin Status INVOICE Invoice List

@include new('status') {
  border: 1px solid $status-border-light-color;
  border-radius: rem-calc(4px);
  box-shadow: 0 0 2px $status-border-light-color;
  width: rem-calc(80px);
  padding: rem-calc(6px);
  text-align: center;
  font-size: rem-calc(12px);
  color: white !important;


  @include when('is-toPrepare') {
    background-color: $status-toprepare-color;
  }

  @include when('is-toBeValidated') {
    background-color: $status-tovalidate-color ;
  }

  @include when('is-toBeRelaunched') {
    background-color: $status-toberelaunched-color;
  }

  @include when('is-toSend') {
    background-color: $status-tosend-color;
  }
}
