// -----------------------------------------------------------------------------
// This file contains all styles related to the STATUS component.
// -----------------------------------------------------------------------------

// SKIN STATUS "DASHBOARD"
//

.status {
  position: relative;
  padding: 10px 8px;
  margin: 0 6px;
  border-radius: 2px;
  color: white;
  background-color: $app-main-color;
  box-shadow: 0 0 2px $status-border-light-color;
  width: rem-calc(120px);
  text-align: center;
  font-size: rem-calc(12px);

  &:hover {
    &.PREPARE { color: $status-toprepare-color; }
    &.VALIDATED { color: $status-tovalidate-color; }
    &.RELAUNCHED { color: $status-torelaunched-color; }
    &.SEND { color: $status-tosend-color; }

    &.PREPARE:after,
    &.VALIDATED:after,
    &.RELAUNCHED:after,
    &.SEND:after {
      width: 100%;
    }
  }

  &:after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 0;
    transition: 300ms;
  }

  // Type Status

  &.PREPARE:after {
    color: $status-toprepare-color;
    border-bottom: 2px solid $status-toprepare-color;
  }

  &.VALIDATED:after {
    color: $status-tovalidate-color;
    border-bottom: 2px solid $status-tovalidate-color;
  }

  &.RELAUNCHED:after {
    color: $status-torelaunched-color;
    border-bottom: 2px solid $status-torelaunched-color;
  }

  &.SEND:after {
    color: $status-tosend-color;
    border-bottom: 2px solid $status-tosend-color;
  }
}

