// -----------------------------------------------------------------------------
// This file contains all styles related to the STATUS component.
// -----------------------------------------------------------------------------

// --- Skin Status DASHBOARD Invoice List

@include new('invoiceListHome-status') {


  @include has('isActive') {
    border-bottom: 2px solid deeppink;
  }
}



// --- Skin Status INVOICE Invoice List

@include new('status') {
  border: 1px solid $status-border-light-color;
  border-radius: rem-calc(4px);
  box-shadow: 0px 0px 2px $status-border-light-color;
  width: rem-calc(80px);
  padding: rem-calc(6px);
  text-align: center;
  font-size: rem-calc(12px);
  color: white !important;


  @include when('is-toPrepare') {
    background-color: $status-toprepare-color;

  }

  @include when('is-toBeValidated') {
    background-color: $status-tovalidate-color ;
  }

  @include when('is-toBeRelaunched') {
    background-color: $status-toberelaunched-color;
  }

  @include when('is-toSend') {
    background-color: $status-tosend-color;
  }

  @include when('isActive') {


  }
}
