// -----------------------------------------------------------------------------
// This file contains all styles related to the TABLE component.
// -----------------------------------------------------------------------------

// ================ //
// Tables General Style
// ================ //

table {
  border-collapse: collapse;

  &.selected {
    tbody {
      tr {
        cursor: pointer;

        &:hover, &:focus {
          transition: 240ms;
          background-color: $light-grey;
        }
      }
    }
  }

  thead {
    background-color: $white-grey;
    border-bottom: rem-calc(0 0 1px 0) solid $light-grey;
    font-size: rem-calc(12px);
    text-transform: uppercase;

    th {
      padding-top: rem-calc(13px);
    }

    tr {
      color: $dark-grey;
    }
  }

  tbody {
    border: none;

    td {
      padding: rem-calc(3px 12px);
    }

    tr {
      border-top: rem-calc(1px) solid $light-grey;
      border-bottom: rem-calc(1px) solid $light-grey;
      font-size: rem-calc(14px);
      transition: 240ms;

      th {
        input, .below {
          margin-bottom: 0 !important;
        }
      }
    }
  }
}

// ---- Status for table

.status-table {
  display: inline-block;
  text-align: center;
  margin: rem-calc(4px 0);
  padding: rem-calc(4px 15px);
  border-radius: rem-calc(30px);
  color: white;
  white-space: nowrap;

  label {
    display: inline-block;
    vertical-align: middle;
    color: white;
    font-size: rem-calc(11px);

    @include breakpoint(medium only) {
      display: none;
    }
  }

  &:before {
    display: inline-block;
    vertical-align: middle;
    margin-right: rem-calc(5px);

    @include breakpoint(medium only) {
     margin-right: 0;
    }
  }
}

// ---- Branch for table

// Communs Styles

.branch, .sub-branch {
  position: relative;

  &.first.last, &.last {
    .first-element-branch {
      &:before {
        display: none;
      }
    }
  }

  &.first {
    .first-element-branch {
      &:before {
        position: absolute;
        height: 63%;
        width: rem-calc(2px);
        left: rem-calc(40px);
        bottom: 0;
        background: $primary;
        content: '';
      }
    }
  }

  .first-element-branch {
    position: relative;

    .branch-arrow {
      position: absolute;
      color: $primary;
      padding-left: rem-calc(5px);
      top: rem-calc(-1px);
      height: 55%;
      width: rem-calc(18px);
      border-left: rem-calc(2px) solid $primary;
      border-bottom: rem-calc(2px) solid $primary;
      border-radius: 0 0 0 6px;
      background: transparent !important;

      &:after {
        position: absolute;
        bottom: rem-calc(-15);
        right: rem-calc(-7px);
        font-family: wms;
        font-size: rem-calc(18px);
        content: '\51';
        color: $primary;
      }
    }
  }
}

// Spectifics Styles

.branch-parent {
  background: $dark-grey-gradient !important;

  td { color: white;}
}

.branch {
  background-color: $special-grey !important;

  &.first {
    .first-element-branch {
      .branch-arrow {
        left: rem-calc(15px);
      }
    }
  }

  .first-element-branch {
    padding-left: rem-calc(45px);

    .branch-arrow { left: rem-calc(15px);}
  }
}

.sub-branch {
  background-color: $special-light-grey !important;

  .first-element-branch {
    &:before {
      position: absolute;
      height: 63%;
      width: rem-calc(2px);
      left: rem-calc(40px);
      bottom: 0;
      background: $primary;
      content: '';
    }
  }

  &.first {
    .first-element-branch {
      .branch-arrow {
        left: rem-calc(40px);
        width: rem-calc(18px);
      }
    }
  }

  .first-element-branch {
    padding-left: rem-calc(65px);

    .branch-arrow { left: rem-calc(40px);}
  }
}


// ---- Specific element for table

.element-bullet {
  display: inline-block;
  height: rem-calc(24px);
  width: rem-calc(24px);
  border-radius: 100%;
  line-height: rem-calc(25px);
  background:  $special-medium-grey;
  color: $special-dark-grey;
  text-align: center;
}

// ---- Specific container for table

.col-click {
  cursor: pointer;
}

.col-desc {
  overflow: hidden;
  white-space: nowrap;
  max-width: rem-calc(250px);

  p {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: 0;

  }
}

.col-primary {
  background: $primary-gradient;

  * {color: white;}
}

.col-check-option {
  .check-bullet {
    display: inline-block;
    vertical-align: middle;
    margin-right: rem-calc(5px);
    height: rem-calc(22px);
    width: rem-calc(22px);
    text-align: center;
    line-height: 24px;
    border: rem-calc(2px) solid $special-light-grey;
    background: transparent;
    border-radius: 100%;

    &.check {
      background-color: $primary;
      border-color: $primary;
    }

    &.uncheck {
      background-color: $special-light-grey;
      border-color: $special-light-grey;

      i {      color: $dark-grey;}
    }
  }
}

.col-empty {
  background-color: $special-light-grey;
}

.col-total {
  background-color: $special-medium-grey !important;
  color: $special-dark-grey;
  font-weight: bold;

  td {
    border-left: rem-calc(1px) solid darken($special-grey, 5%);
  }
}

.with-sub-columns {

  .sub-columns {
    background-color: $special-grey;

    td {
      padding: 0;
    }

    thead {
      th {
        font-size: rem-calc(11px);
      }
    }

    tbody {
      background-color: $special-grey;
      border: none;

      tr {
        border: none;

        td {
          padding: rem-calc(10px);
        }
      }
    }

    .awbs-list {
      td {
        padding-left: rem-calc(10px);
      }
    }
  }
}

// ---- Utils for table

.md-nowrap {
  @include breakpoint(medium only) {
    white-space: nowrap;
  }
}

