

table {
  &.selectable {

    tbody {
      @extend %transition;
      cursor: pointer;

      &:nth-child(even) {
        &:hover, &:focus, &:active {
          @extend %transition;
          background-color: $catskill-white;
        }
      }

      &:hover, &:focus, &:active {
        @extend %transition;
        background-color: $catskill-white;
      }
    }
  }
}