@include new('timeline') {
  position: relative;
  height: calc(100% - 87px);
  padding: rem-calc(0 16px 24px 24px);
  overflow-y: auto;

  @include has('item') {
    padding-left: rem-calc(24px);
    border-left: 2px solid $body-light-font-color;
    @extend %transition;
    cursor: pointer;

    &:hover, &:focus, &:active {
      @extend %transition;
      background: darken($content-medium-list-color, 5%);
      border-left: 2px solid darken($body-light-font-color, 10%);

      .timeline-item-marker {
        background: darken($body-light-font-color, 10%);
        border-color: darken($body-light-font-color, 10%);
        @extend %transition;
      }
    }

    @include has('date') {
      padding: 0;
      font-weight: bold;
      font-size: rem-calc(11px);
      color: $body-light-font-color;

      i {
        display: inline-block;
        vertical-align: middle;
        font-size: rem-calc(16px);
        margin-right: rem-calc(4px);
      }
    }

    @include has('user') {
      display: inline-block;
      vertical-align: middle;
      font-size: rem-calc(11px);
      font-weight: bold;
      color: $regent-gray;
    }

    @include has('marker') {
      position: absolute;
      left: rem-calc(19px);
      content: '';
      height: rem-calc(12px);
      width: rem-calc(12px);
      border-radius: rem-calc(50px);
      background-color: $content-medium-list-color;
      border: 2px solid $body-light-font-color;
      @extend %transition;
    }

    @include has('title') {
      font-weight: 500;
    }

    @include has('desc') {
      line-height: rem-calc(6px);
      color: $body-dark-font-color;

      @include has('blue') {
        color: $app-main-light-color;
      }

    }
  }
}