@include new('timeline') {
  position: relative;
  height: calc(100% - 87px);
  padding: rem-calc(0 34px 34px 34px);
  overflow-y: auto;

  @include has('item') {
    padding-left: 24px;
    border-left: 2px solid $body-light-font-color;

    @include has('date') {
      color: $body-light-font-color;
    }

    @include has('content') {
      padding-bottom: rem-calc(8px);
    }

    @include has('marker') {
      position: absolute;
      left: rem-calc(29px);
      content: '';
      height: rem-calc(12px);
      width: rem-calc(12px);
      border-radius: rem-calc(50px);
      background-color: $content-medium-list-color;
      border: 2px solid $body-light-font-color ;
    }

    @include has('title') {
      font-weight: 500;
    }

    @include has('desc') {
      line-height: rem-calc(6px);
      color: $body-dark-font-color;

      @include has('blue') {
        color: $app-main-light-color;
      }

    }
  }
}