// -----------------------------------------------------------------------------
// This file contains all styles related to the BASE base.
// -----------------------------------------------------------------------------

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  height: 100%;
  width: 100vw;
}

body {
  height: 100%;
  width: 100vw;
  font-size: rem-calc(14px);
}


a {
  text-decoration: none;
}

footer {
  position: fixed;
  bottom:0;
  width: 100%;
}