// -----------------------------------------------------------------------------
// This file contains all styles related to the BASE base.
// -----------------------------------------------------------------------------

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


