// -----------------------------------------------------------------------------
// This file contains all styles related to the RESET base.
// -----------------------------------------------------------------------------

* {
  outline: none;
}

ul {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

.row {
  max-width: 100%;
}
