// -----------------------------------------------------------------------------
// This file contains all styles related to the TYPOGRAPHY base.
// -----------------------------------------------------------------------------

body {
  -webkit-text-stroke-width: .1px;
  -webkit-font-smoothing: antialiased;
}

// ================ //
// Title Styles
// ================ //

.title-bloc {
  color: $primary;
  font-weight: 600;

  &.title-nowrap {

    .title-label {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  i {
    display: inline-block;
    vertical-align: middle;
    margin-right: rem-calc(10px);
  }

  .sub-title-bloc {
    color: $medium-gray;
    white-space: nowrap;
  }
}

// ================ //
// Links Styles
// ================ //

.link {
  font-weight: 500;

  i {
    display: inline-block;
    vertical-align: middle;
    margin: rem-calc(0 5px);
    font-size: rem-calc(15px);
  }

  // ---- Size link

  &.normal {
    font-size: inherit;
  }
  &.medium {
    font-size: rem-calc(15px);
    i {
      position: relative;
      top: rem-calc(2px);
      font-size: rem-calc(18px);
    }
  }
  &.large {
    font-size: rem-calc(18px);
    i {
      font-size: rem-calc(22px);
    }
  }

  &.primary-text {
    &:hover, &:focus {
      transition: 240ms;
      opacity: 0.8;
      filter: alpha(opacity=50);
      color: $primary;
    }
  }

  &.error-text {
    &:hover, &:focus {
      transition: 240ms;
      opacity: 0.8;
      filter: alpha(opacity=50);
      color: $red;
    }
  }
}

// ================ //
// Text Color
// ================ //

.primary-text {
  color: $primary;
}

.secondary-text {
  color: $secondary;
}

.white-text {
  color: white;
}

.light-grey-text {
  color: $medium-grey;
}

.medium-grey-text {
  color: $medium-grey;
}

.black-grey-text {
  color: $dark-grey;
}

.success-text {
  color: $green;
}

.warning-text {
  color: $yellow;
}

.error-text {
  color: $red;
}

// ================ //
// Icon Text
// ================ //

.icon-text {
  i {
    display: inline-block;
    vertical-align: middle;
    margin-right: rem-calc(5px);
  }
}

// ================ //
// Label Separator
// ================ //

.label-sep {
  border-bottom: rem-calc(1px) solid $line-grey;
  text-transform: uppercase;
  text-align: left;
  color: $medium-grey;
}
