@import '../../../styles/base-component';

@include new('appHeader') {
  display: flex;
  height: rem-calc($appHeader-height);
  background-color: $appHeader-bg-color;
  box-shadow: rem-calc(4px 0px 12px) #aaa;

  @include has('search') {
    flex: 1;
    display: flex;
    align-items: center;
    margin-left: rem-calc(15px);
    max-width: 50vw;

    input {
      margin-bottom: 0;
      border-top: none;
      border-left: none;
      border-right: none;
      border-bottom: 1px solid $body-dark-font-color;
      box-shadow: none;
      background-color: $appHeader-bg-color;
      background-image: url("../../../#{$svg-path}icon_search.svg");
      background-size: rem-calc(20px);
      background-repeat: no-repeat;
      background-position: left center;
      font-weight: 500;
      color: $body-light-font-color;
      padding-left: rem-calc(40px);

      &:focus {
        border-color: #3CA3D2;
      }

    }
  }

  @include has('menu') {
    flex: 1;
    display: flex;
    justify-content: flex-end;

    @include has('user') {
      display: flex;
      justify-content: center;
      align-items: center;
      width: rem-calc($appHeader-height);
      font-weight: 600;
      color: $body-dark-font-color;
      background-color: $white;
    }

    // TODO ESE Clean after skin

  }
}

@include new('history') {
  display: flex;
  justify-content: center;
  align-items: center;
  width: rem-calc($appHeader-height);
  background-color: $button-primary-color;
  background-image: url("../../../#{$svg-path}icon_menu.svg");
  cursor: pointer;

  @include when('isOpen') {
    background-image: url("../../../#{$svg-path}icon_cross.svg");
  }

  button {
    margin-bottom: 0;
    border-radius: 0;
    border: 1px solid white;
    width: 100%;
    height: 64px;

    @include when('button-retract') {
      width: 64px;
    }
  }

  @include has('detail') {
    display: block;
    position: absolute;
    top: $appHeader-height;
    right: 0;
    width: 400px;
    height: calc(100vh - #{$appHeader-height});
    background-color: $content-light-list-color;
    box-shadow: 4px 0 40px -8px lightgrey;
    border: 2px solid rgba(211, 211, 211, 0.29);


    &[hidden] {
      display: none !important;
    }
  }
}