@import '../../../styles/base-component';

@include new('appHeader') {
  display: flex;
  height: rem-calc($appHeader-height);
  background-color: $appHeader-bg-color;
  box-shadow: rem-calc(4px 0px 12px) #aaa;

  @include has('search') {
    flex: 1;
    display: flex;
    align-items: center;
    margin-left: rem-calc(15px);
    max-width: 50vw;
  }

  @include has('menu') {
    flex: 1;
    display: flex;
    justify-content: flex-end;

    @include has('user') {
      display: flex;
      justify-content: center;
      align-items: center;
      width: rem-calc($appHeader-height);
      font-weight: 600;
      color: $body-dark-font-color;
      background-color: $white;
    }
  }
}

@include new('history') {
  display: flex;
  justify-content: center;
  align-items: center;

  button {
    height: rem-calc($appHeader-height);
    border-radius: 0;

    @include when('click') {
        background-color: red;
    }

    i {
      color: white;
      font-size: 20px;
    }
  }

  @include when('isOpen') {
    position: relative;
    background-image: url("../../../#{$svg-path}icon_cross.svg");
  }

  @include has('detail') {
    display: block;
    position: absolute;
    top: $appHeader-height;
    right: 0;
    width: 20vw;
    height: calc(100vh - #{$appHeader-height});
    background-color: $content-medium-list-color;
    box-shadow: 4px 0 40px -8px lightgrey;
    border: 2px solid rgba(211, 211, 211, 0.29);

    &[hidden] {
      display: none !important;
    }

      @include has('title') {
          position: absolute;
          padding: 32px 0 24px 32px;
          font-weight: 500;
          color: $body-dark-font-color;
      }
    }
  }