<header class="appHeader">
  <div class="appHeader-search">
    <input class="input search" type="text" placeholder="Recherche">
      <span class="underline"></span>
  </div>

  <div class="appHeader-menu">
    <div class="appHeader-menu-user">ESE</div>

      <!-- [TIMELINE] -->

    <div class="history" [ngClass]="{'isOpen' : activityMenuOpen}" (click)="activityMenuOpen = !activityMenuOpen">
        <a><i class="ion-navicon-round"></i></a>

        <div class="history-detail" [hidden]="!activityMenuOpen">
            <h5 class="history-detail-title">FIL D'ACTIVITÉ</h5>

            <div class="timeline">
                <div class="timeline-item">
                        <time datetime="03/10/2017" class="timeline-item-date">À L'INSTANT</time>
                        <div class="timeline-item-content">
                            <div class="timeline-item-marker"></div>
                            <h6 class="timeline-item-title">MODIFICATION FACTURE</h6>
                            <p class="timeline-item-desc">
                                <span class="timeline-item-desc-blue">0001-ACPAV</span>
                                modifié par ESE
                            </p>
                        </div>
                </div>

                <div class="timeline-item">
                    <time datetime="03/10/2017" class="timeline-item-date">À L'INSTANT</time>
                    <div class="timeline-item-content">
                        <div class="timeline-item-marker"></div>
                        <h6 class="timeline-item-title">MODIFICATION FACTURE</h6>
                        <p class="timeline-item-desc">
                            <span class="timeline-item-desc-blue">0001-ACPAV</span>
                            modifié par ESE
                        </p>
                    </div>
                </div>


            </div>
         </div>
    </div>
  </div>
</header>


<!--<a class="appHeader-menu-actuality"></a> -->