<fieldset ngModelGroup="address">
    <div>
       <h6> {{'address.body' | translate}}</h6>
        <input  class="form-control"
                [disabled]="!editMode"
               ngModel name="body" type="text" required>
    </div>
    <div>
        <h6> {{'address.zipCode' | translate}}</h6>
        <input  class="form-control"
                [disabled]="!editMode"
               ngModel name="zipCode" type="text" required>
    </div>
    <div>
       <h6> {{'address.city' | translate}}</h6>
        <input  class="form-control"
                [disabled]="!editMode"
               ngModel name="city" type="text" required>
    </div>
    <div>
        <h6> {{'address.country' | translate}}</h6>
        <input  class="form-control"
                [disabled]="!editMode"
               ngModel name="country" type="text" required>
    </div>
</fieldset>
