// -----------------------------------------------------------------------------
// This file contains all styles related to the CONTENT layout.
// -----------------------------------------------------------------------------

.general-container {
  display: block;
  height: 100%;
}

.content {
  display: block;
  height: 100%;
}

.container {
  height: 100vh;
  padding-left: $sidebar-width-md;

  @include breakpoint(large only) {
    padding-left: rem-calc($sidebar-width-lg);
  }
}

// ==== Bloc container

.block-container {
  margin-top: rem-calc(12px);
  padding: rem-calc(16px);
  box-shadow: 0 1px 5px $silver-rust;
  background-color: white;
  border-radius: $global-radius;
}