@import "variables";
@import "mixins";

.invoice {
  table {
    td.currency {
      text-align: right;
    }
    input {
      width: 100%;
      height: 100%;
    }
  }

  label.invoiceObject {
    height: 100px;
  }
  textarea.invoiceObject {
    height: 100px;
    width: 500px;
    line-height: normal;
  }
  input.invoiceComment {
    width: 500px;
  }

  label.legalNotice {
    height: 100px;
  }
  textarea.legalNotice {
    height: 100px;
    width: 500px;
    line-height: normal;
  }
}

.view {

  h2, h3 {
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    background: none;
    border: none;
    padding: 0;
  }

  h2 {
    color: #808080;
  }
  h3 {
    font-size: 14px;
  }

  pre.invoiceObject {
    border: none;
    width: 400px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 12px;
    background: none;
    padding: 0;
  }

  .invoiceSeller, .invoiceBuyer, .invoiceComment {
    margin-left: 20px;
  }
  .invoiceReference, .invoiceObject {
    margin-right: 20px;
  }
  .invoiceReference {
    text-align: right;
  }
  .invoiceComment {
    margin-top: 20px;
  }
  .invoiceLines {
    margin-top: 20px;
    table {
      border: none;
      border-top: solid #000000 2px;
    }
    tr.startVat {
      margin-top: 20px;
    }
    tr {
      border: none;
    }
    td {
      border-left: solid #000000 1px;
      border-right: solid #000000 1px;
      border-top: none;
      border-bottom: none;
    }
    td.totalLabel {
      border: none;
      border-top: solid #000000 1px;
    }
    td.totalAmount {
      border: solid #000000 1px;
    }
    th {
      text-align: center;
      border: solid #000000 1px;
    }
  }

  .invoiceLegalNotice {
    div.invoiceLegalNoticeBlock {
      margin-top: 10px;
      pre.legalNotice {
        border: none;
        width: 100%;
        font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
        font-size: 12px;
        background: none;
        padding: 0;
      }
    }
    div.invoiceLegalNoticeInfo {
      font-style: italic;
      font-size: 80%;
    }
  }
}
