$icon-font-path: "/fonts/";

@import '../bower_components/sass-bootstrap/lib/bootstrap';

//@import "compass_twitter_bootstrap";
@import "variables";
@import "mixins";
@import "layout";
@import "base";
@import "dashboard";
@import "button";
@import "forms";
@import "select2-4sh";
@import "grid";
@import "company";
@import "invoice";

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
