<table class="customerList">
    <tbody class="customerList-row" *ngFor="let customer of companies"
    (click)="goToDetail(customer)">
<!-- fixme data display in dom are not like in the model -->
    <tr>
        <td>
            <div class="customerList-item-label">{{'customers.label.name' | translate}}:</div>
        </td>
        <td>
            <span class="customerList-item-label">{{'customers.label.date' | translate}}:</span>
        </td>
        <td>
            <span class="customerList-item-label">{{'customers.label.lastSent' | translate}}: </span>
            <span class="customerList-item-value">{{customer.lastSendDate | date}}</span>
        </td>
        <td>
            <span class="customerList-item-label">{{'customers.label.contact' | translate}}</span>
        </td>
        <td>
            <div class="customerList-item-label">{{'customers.label.number' | translate}}</div>
            <span class="customerList-item-label">{{'customers.label.lastFinancialYear' | translate}}: </span>
            <span class="customerList-item-value">00000 €</span>
        </td>
        <td>
            <div class="customerList-item-label">{{'customers.label.ca' | translate}}</div>
            <span class="customerList-item-value">00000 €</span>
        </td>
    </tr>

    <tr>
        <td rowspan="2">
            <div class="customerList-item-value">{{customer.name}}</div>
        </td>
        <td rowspan="2">
            <span class="customerList-item-value">{{customer.lastSendDate | date}}</span>
        </td>
        <td rowspan="2">
            <span class="customerList-item-label">{{'customers.label.lastPayment' | translate}}:
                </span>
            <span class="customerList-item-value">{{customer.lastPaidInvoice?.grossAmount || 0 }} €</span>
        </td>
        <td rowspan="2">
            <span class="customerList-item-value">{{customer.emailAddress}}</span>
        </td>
        <td>
            <span class="customerList-item-label">{{'customers.label.financialYear' | translate}}:</span>
            <span class="customerList-item-value">00000 €</span>
        </td>
        <td>
            <span class="customerList-item-value">0000 €</span>
        </td>
    </tr>

    <tr>
        <td>
            <span class="customerList-item-label">{{'customers.label.nextFinancialYear' | translate}}:</span>
            <span class="customerList-item-value">00000 €</span>
        </td>
        <td>
            <span class="customerList-item-value">00000 €</span>
        </td>
    </tr>
    </tbody>
</table>
