@import '../../../../styles/base-component';

:host {
  display: block;
  width: 100%;
}

// ================ //
// Invoice Total
// ================ //

.invoice-total {
  display: flex;

  .title-section {
    display: inline-block;
    vertical-align: middle;
    color: white;
  }

  .invoice-total-value {
    display: inline-block;
    vertical-align: middle;
    margin-left: rem-calc(12px);
    color: white;
  }
}

// ================ //
// Tabs Bar
// ================ //

.tabs-bar {
  display: block;
  width: 100%;
  height: rem-calc(50px);
  padding: rem-calc(0 20px 0 20px);
  background-color: $app-main-dark-color;
  border-radius: rem-calc(3px);
  box-shadow: 0.3px 0.4px 1.5px 0 rgba(0, 0, 0, 0.06);
  overflow: hidden;
  white-space: nowrap;

  .tabs-list {
    .item-tab {
      display: inline-block;
      height: 100%;
      margin: rem-calc(0 1px);
      padding: rem-calc(0 25px);
      background: rgba($blue-bayoux, 0.7);
      line-height: 3.7;
      font-size: rem-calc(14px);
      font-weight: bold;
      color: white;
      cursor: pointer;
      @extend %transition;

      &:hover {
        @extend %transition;
        background-color: lighten($blue-bayoux, 5%);
      }

      &.active {
        background-color: $app-main-light-color;
        color: white;
      }
    }
  }
}
