<div class="sidebar">
    <div class="sidebar-logo" routerLink="/app//dashboard">
        <img src="assets/images/svg/4sh_logo_white.svg">
    </div>

    <nav class="sidebar-menu">
        <a routerLink="/app//dashboard" [routerLinkActive]="['isActive']" class="sidebar-menu-item toto">
            <img class="sidebar-menu-icon" src="assets/images/svg/icon_home.svg">{{'nav.home' | translate}}
        </a>
        <a routerLink="/app/customers" [routerLinkActive]="['isActive']" class="sidebar-menu-item">
            <img class="sidebar-menu-icon" src="assets/images/svg/icon_client.svg">{{'nav.customers' | translate}}
        </a>
        <a routerLink="/app//invoices" [routerLinkActive]="['isActive']" class="sidebar-menu-item">
            <img class="sidebar-menu-icon" src="assets/images/svg/icon_invoice.svg">{{'nav.invoices' | translate}}
            <div class="sidebar-menu-item-notif">3</div>
        </a>
    </nav>

    <a  class="sidebar-logout" >
    <button type="button" (click)="logout()">
        <img class="sidebar-logout-icon" src="assets/images/svg/icon_logout.svg">
        {{'user.logout' | translate}}
    </button>
    </a>
</div>
