@import '../../../../styles/base-component';

@include new('sidebar') {
  position: fixed;
  left: 0;
  display: flex;
  flex-direction: column;
  width: rem-calc($sidebar-width-md);
  min-height: 100vh;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.4);

  @include breakpoint(large only) {
    width: rem-calc($sidebar-width-lg);
  }

  @include has('logo') {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $app-main-dark-color;
    height: rem-calc($appHeader-height);

    img {
      max-width: 40%;
      max-height: 50%;
    }
  }

  @include has('menu') {
    flex: 2;
    background-color: $sidebar-bg-color;
    overflow-y: auto;

    @include has('item') {
      display: flex;
      align-items: center;
      position: relative;
      text-transform: uppercase;
      color: white;
      padding: rem-calc(14px 24px);
      cursor: pointer;
      @extend %transition;

      &:hover,
      &:focus {
        @extend %transition;
        background-color: mix($sidebar-bg-color, $sidebar-item-bg-color, 50%);
      }

      i {
        display: inline-block;
        vertical-align: middle;
        width: rem-calc(28px);
        margin-right: rem-calc(12px);
        font-size: rem-calc(28px);
        text-align: center;
      }

      @include when('isActive') {
          background-color: $app-main-light-color;
      }

      @include has('notif') {
        display: block;
        position: absolute;
        top: 50%;
        right: 24px;
        transform: translate(-50%, -50%);
        height: 24px;
        min-width: 24px;
        padding: 3px;
        border-radius: 16px;
        text-align: center;
        font-size: 10px;
        font-weight: bold;
        line-height: 16px;
        color: white;
        background-color: $app-notif-color ;
        cursor: pointer;
        animation: pulse 1s infinite;
      }
    }

    @include has('icon') {
      position: relative;
      top: rem-calc(-1px);
      width: rem-calc(20px);
      margin-right: rem-calc(12px);
    }
  }

  @include has('logout') {
    display: flex;
    align-items: center;
    background-color: $app-main-dark-color;
    text-transform: uppercase;
    color: $white;
    height: rem-calc(50px);
    padding: 0 rem-calc(20px);
    cursor: pointer;
    @extend %transition;

    button {
      color: white;
    }

    &:hover,
    &:focus {
      @extend %transition;
      background-color: $sidebar-item-bg-color;
    }

    @include has('icon') {
      position: relative;
      top: rem-calc(-1px);
      left: rem-calc(-2px);
      width: rem-calc(20px);
      margin-right: rem-calc(10px);
    }
  }
}
