@import '../../../styles/base-component';

@include new('sidebar') {
  display: flex;
  flex-direction: column;
  width: 15vw;
  min-height: 100vh;
  box-shadow: 4px 0px 12px #aaa;

  @include has('logo') {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $app-main-dark-color;
    height: rem-calc($appHeader-height);

    img {
      max-width: 40%;
      max-height: 50%;
    }
  }

  @include has('menu') {
    flex: 2;
    background-color: $sidebar-bg-color;
    overflow-y: auto;

    @include has('item') {
      display: flex;
      align-items: center;
      text-transform: uppercase;
      color: white;
      padding: rem-calc(15px 20px);
      cursor: pointer;

      &:hover,
      &:focus {
        background-color: mix($sidebar-bg-color, $sidebar-item-bg-color, 50%);
      }

      @include when('isActive') {
        background-color: $sidebar-item-bg-color;
      }
    }

    @include has('icon') {
      position: relative;
      top: rem-calc(-1px);
      width: rem-calc(20px);
      margin-right: rem-calc(12px);
    }
  }

  @include has('logout') {
    display: flex;
    align-items: center;
    background-color: $app-main-dark-color;
    text-transform: uppercase;
    color: $white;
    height: rem-calc(50px);
    padding: 0 rem-calc(20px);
    cursor: pointer;

    &:hover,
    &:focus {
      background-color: $sidebar-item-bg-color;
    }

    @include has('icon') {
      position: relative;
      top: rem-calc(-1px);
      left: rem-calc(-2px);
      width: rem-calc(20px);
      margin-right: rem-calc(10px);
    }
  }
}
