<div class="sidebar">
  <div class="sidebar-logo">
    <img src="assets/images/svg/4sh_logo_white.svg">
  </div>

  <nav class="sidebar-menu">
    <a routerLink="/dashboard" [routerLinkActive]="['isActive']" class="sidebar-menu-item toto">
      <img class="sidebar-menu-icon" src="assets/images/svg/icon_home.svg">Accueil
    </a>
    <a routerLink="/customers" [routerLinkActive]="['isActive']" class="sidebar-menu-item">
      <img class="sidebar-menu-icon" src="assets/images/svg/icon_client.svg">Clients
    </a>
    <a routerLink="/invoices" [routerLinkActive]="['isActive']" class="sidebar-menu-item">
      <img class="sidebar-menu-icon" src="assets/images/svg/icon_invoice.svg">Factures
    </a>
  </nav>

  <a class="sidebar-logout">
      <img class="sidebar-logout-icon" src="assets/images/svg/icon_logout.svg">Déconnexion
  </a>
</div>
