<div class="company" ng-controller="CompanyCtrl">
    <a ng-href="/#/">
        <h1 class="title-page">
            <span class="title-logo"></span>
            <span class="smallSeparator"></span>
            <span class="title-page-content" translate="company.title">Company</span>
            <span class="title-page-content"> - {{company.name}}</span>
        </h1>
    </a>

    <div class="table-fpm">
        <div class="pull-right">
            <button class="fsh-btn-success" type="submit" ng-click="save()"><span class="icon-buttonSav"></span>{{i18n.translate('company.save')}}</button>
        </div>

        <div class="companyDescription">
            <h1 class="title-col" translate="company.description">Description</h1>
            <div class="control-group">
                <label class="control-label" translate="company.name"></label>
                <div class="controls">
                    <input type="text" ng-model="company.name">
                </div>
            </div>
            <br>
            <div class="control-group">
                <label class="control-label legalNotice" translate="company.legalNotice"></label>
                <div class="controls">
                    <textarea class="legalNotice" ng-model="company.legalNotice"></textarea>
                </div>
            </div>
        </div>

        <div class="companyAddress">
            <h1 class="title-col" translate="company.address">Address</h1>
            <div class="control-group">
                <label class="control-label" translate="company.body">Body</label>
                <div class="controls">
                    <input type="text" ng-model="company.address.body">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" translate="company.zipCode">Zip Code</label>
                <div class="controls">
                    <input type="text" ng-model="company.address.zipCode">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" translate="company.city">City</label>
                <div class="controls">
                    <input type="text" ng-model="company.address.city">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" translate="company.country">Country</label>
                <div class="controls">
                    <input type="text" ng-model="company.address.country">
                </div>
            </div>
        </div>

        <div class="companyBusiness">
            <h1 class="title-col" translate="company.business">Business</h1>
            <table class="table table-striped table-condensed table-bordered">
                <thead>
                    <tr>
                        <th translate="company.business.reference">Reference</th>
                        <th translate="company.business.name">Name</th>
                        <th translate="company.business.actions">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="b in company.business">
                        <td><input type="text" ng-model="b.reference"></td>
                        <td><input type="text" ng-model="b.name"></td>
                        <td>
                            <button class="btn btn-danger btn-sm" ng-click="business.remove($index)" title="{{i18n.translate('company.business.actions.remove')}}">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr class="success">
                        <td><input type="text" ng-model="business.reference"/></td>
                        <td><input type="text" ng-model="business.name"/></td>
                        <td>
                            <button class="btn btn-success btn-sm" ng-click="business.add()" title="{{i18n.translate('company.business.actions.add')}}">
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
