<div class="dashboard" ng-controller="DashboardCtrl">
    <h1 class="title-page">
        <span class="title-logo"></span>
        <span class="smallSeparator"></span>
        <span class="title-page-content" rx-translate="dashboard.title"></span>
    </h1>

    <hr class="clear"/>

    <div>
        <div class="control-group">
            <button class="fsh-btn small" ng-click="setCurrentFiscalYear()" rx-translate="dashboard.filter.financialYear">Financial year =</button>
            <button class="fsh-btn small" ng-click="setCurrentMonth()" rx-translate="dashboard.filter.currentMonth">Month =</button>
        </div>

        <div class="control-group">
            <label class="control-label" rx-translate="dashboard.filter.fromDate">From date</label>
            <input type="text" class="form-control" datepicker-popup="{{'dd/MM/yyyy'}}" ng-model="filter.criteria.dateMin"
                   is-open="fromOpened" close-text="Close" placeholder="Depuis" id="from"
                   max="{{filter.criteria.dateMax}}" ng-required="true"/>
        </div>

        <div class="control-group">
            <label class="control-label" rx-translate="dashboard.filter.toDate">To date</label>
            <input type="text" class="form-control" datepicker-popup="{{'dd/MM/yyyy'}}" ng-model="filter.criteria.dateMax"
                   is-open="UntilOpened" close-text="Close" min="{{filter.criteria.dateMin}}" placeholder="Jusqu'à"
                   id="untill" ng-required="true"/>
        </div>

        <!--<div class="control-group">
            <label class="control-label label-light" rx-translate="dashboard.filter.dateMin">min</label>
            <div class="controls">
                <input type="date" ng-model="filter.criteria.dateMin" placeholder="{{i18n.translate('dashboard.filter.dateMin')}}" class="date"/>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label label-light" rx-translate="dashboard.filter.dateMax">max</label>
            <div class="controls">
                <input type="date" ng-model="filter.criteria.dateMax" placeholder="{{i18n.translate('dashboard.filter.dateMax')}}" class="date"/>
            </div>
        </div>-->
        <a ng-click="filter.resetDatesFilters()"><span class="fsh-btn-refresh"></span></a>
    </div>

    <div class="columns-bloc col-type-left">
        <div class="zone-title">
            <h1 class="title-col">{{i18n.translate('dashboard.customers')}}
                <div class="sorts" ng-click="orderBy.byCompany(o)"ng-repeat="o in orderBy.companies">
                    <span ng-class="{selected: o.selected}">{{o.label}}</span>
                    <span ng-show="!$first" class="separator-sorts">|</span>
                    <span ng-class="{arrowTop:!o.reverse, arrowBottom:o.reverse}"></span>
                </div>
            </h1>
            <span class="info-stat">(*) {{nbCompanies()}} client pour {{nbBusiness()}} affaire(s)

            </span>
        </div>
        <div class="zone-actions">
            <button class="fsh-btn-add" ng-click="addCompany()" title="{{i18n.translate('dashboard.add.company')}}"><span class="icon-buttonAdd"></span></button>
            <button class="fsh-btn-edit" ng-click="editCompany()" title="{{i18n.translate('dashboard.edit.company')}}" ng-show="filter.criteria.companySelected"><span class="icon-buttonEdit"></span></button>
            <select ui-select2 ng-model="filter.criteria.companySelected" data-placeholder="{{i18n.translate('dashboard.filter.company')}}" style="width: 200px;">
                <option value=""></option>
                <option ng-repeat="item in filter.companiesList" value="{{item._id}}">{{item.name}}</option>
            </select>
            <select ui-select2 ng-show="filter.criteria.companySelected" ng-model="filter.criteria.businessSelected" data-placeholder="{{i18n.translate('dashboard.filter.business')}}" style="width: 200px;">
                <option value=""></option>
                <option ng-repeat="item in filter.businessList" value="{{item.reference}}">{{item.name}}</option>
            </select>
            <a ng-click="filter.resetCompaniesFilters()"><span class="fsh-btn-refresh"></span></a>
            <hr class="clear"/>
        </div>

        <div class="bloc-type" ng-class="{blocTypeOneCompany: $first && $last}"
             ng-repeat="company in companies | orderBy:orderBy.company.predicate:orderBy.company.reverse">
            <div class="content-infos">
                <div class="avatar-project">
                    <img ng-src="/images/no-icon-company.png" width="83" height="83" alt="{{company.name}}">
                    <btn class="show-all-project" ng-click="filter.selectCompany(company)" rx-translate="dashboard.customer.allBusiness"></btn>
                </div>
                <div class="content-infos-project">
                    <div class="header-project">
                        <span class="title-project-content">
                            <a title="{{company.name}}" ng-click="filter.selectCompany(company)"> {{company.name}}</a>
                        </span>
                        <div class="invoices-number">
                            <h2 rx-translate="dashboard.customer.numberOfInvoice"></h2>
                            <h1>{{company.metrics.nbInvoices}}</h1>
                        </div>
                    </div>
                    <div class="desc-project">
                        <div class="content-planned">
                            <div class="invoices-planned">
                                <h2 rx-translate="dashboard.customer.expected"></h2>
                                <h1>{{company.metrics.expected | currency}}</h1>
                            </div>
                            <div class="invoices-planned">
                                <h2 rx-translate="dashboard.customer.invoiced"></h2>
                                <h1>{{company.metrics.invoiced | currency}}</h1>
                            </div>
                        </div>
                        <div class="content-planned">
                            <div class="invoices-planned">
                                <h2 rx-translate="dashboard.customer.expired"></h2>
                                <h1>{{company.metrics.expired | currency}}</h1>
                            </div>
                            <div class="invoices-planned">
                                <h2 rx-translate="dashboard.customer.paid"></h2>
                                <h1>{{company.metrics.paid | currency}}</h1>
                            </div>
                        </div>
                        <ul class="btn-edit">
                            <li><a ng-href='/#/company/{{company._id}}'><span class="small-icon-buttonedit"></span>{{i18n.translate('dashboard.edit')}}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div ng-show="$first && $last">
                <ul class="tags-business">
                    <li ng-repeat="business in company.business" ng-click="filter.selectBusiness(business)">{{business.name}}</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="columns-bloc col-type-right">
        <div class="zone-title">
             <h1 class="title-col">{{i18n.translate('dashboard.invoices')}}
                 <div class="sorts" ng-click="orderBy.byInvoice(o)"ng-repeat="o in orderBy.invoices">
                     <span ng-class="{selected: o.selected}">{{o.label}}</span>
                     <span ng-show="!$first" class="separator-sorts">|</span>
                     <span ng-class="{arrowTop:!o.reverse, arrowBottom:o.reverse}"></span>
                 </div>
             </h1>
             <span class="info-stat">(*) {{nbInvoices()}} facture(s) pour un total de {{totalInvoices() | currency}}</span>
        </div>
        <div class="zone-actions">
            <button class="fsh-btn-add" ng-click="addInvoice()" title="{{i18n.translate('dashboard.add.invoice')}}"><span class="icon-buttonAdd"></span></button>
            <button class="fsh-btn-csv" ng-click="exportData()"><span class="icon-buttonCSV"></span>{{i18n.translate('dashboard.download.xls')}}</button>

            <select ui-select2 ng-model="filter.criteria.statusSelected">
                <option value="" rx-translate="dashboard.filter.all.statuses">All</option>
                <option ng-repeat="item in filter.statusList" value="{{item._id}}">{{item.name}}</option>
            </select>
            <select ui-select2 ng-model="filter.criteria.kindSelected">
                <option value="" rx-translate="dashboard.filter.all.kinds">All</option>
                <option ng-repeat="item in filter.kindList" value="{{item._id}}">{{item.name}}</option>
            </select>
            <select ui-select2 ng-model="filter.criteria.vat">
                <option value="" rx-translate="dashboard.filter.all.vats">All</option>
                <option ng-repeat="item in filter.vatList" value="{{item.amount}}">{{i18n.translate('dashboard.filter.vat.'+item.key)}}</option>
            </select>

            <a ng-click="filter.resetInvoicesFilters()"><span class="fsh-btn-refresh"></span></a>
            <div class="display-mode">
                <span ng-show="isListDisplayMode()" ng-click="toggleDisplayMode()">{{i18n.translate('dashboard.table')}}</span>
                <span ng-show="isTableDisplayMode()" ng-click="toggleDisplayMode()">{{i18n.translate('dashboard.list')}}</span>
            </div>

            <br>
            <input type="text" ng-model="filter.criteria.reference" placeholder="{{i18n.translate('dashboard.filter.reference')}}" class="input-container ref"/>
            <input type="text" ng-model="filter.criteria.priceMin" placeholder="{{i18n.translate('dashboard.filter.price.min')}}" class="input-container ref"/>
            <input type="text" ng-model="filter.criteria.priceMax" placeholder="{{i18n.translate('dashboard.filter.price.max')}}" class="input-container ref"/>

            <hr class="clear"/>
        </div>

        <div class="bloc-type" ng-if="isListDisplayMode()"
             ng-repeat="invoice in invoices | orderBy:orderBy.invoice.predicate:orderBy.invoice.reverse">
            <div class="content-infos content-bloc-invoice">
                <div class="content-infos-project content-invoice-project">
                    <div class="header-project">
                        <div ng-if="invoice.comment != null && invoice.comment != ''" style="background-color: #5e5e5e" class="icon-title icon-comment" ng-click="open(invoice)"></div>
                        <span class="title-project-content invoice">
                            <span ng-show="invoice.reference">[{{invoice.reference}}] </span>
                            <a title="{{invoice.business.name}} {{invoice.object}}" ng-click="filter.selectBusinessFromInvoice(invoice)">{{invoice.object}}</a>

                            <ul class="invoice-date">
                                <li>{{i18n.translate('dashboard.invoice.from')}} {{invoice.date | date:'dd/MM/yyyy'}} | {{invoice.date}}</li>
                                <li>{{i18n.translate('dashboard.invoice.expired')}} {{findExpiredInvoice(invoice.date)}}</li>
                                <li class="tags-business" ng-if="invoice.kind != null">{{i18n.translate('invoice.kind.'+invoice.kind)}}</li>
                                <li class="tags-business" ng-click="filter.selectCompanyFromInvoice(invoice)" ng-show="invoice.buyer">{{invoice.buyer.name}}</li>
                                <li class="tags-business" ng-click="filter.selectBusinessFromInvoice(invoice)" ng-show="invoice.business">{{invoice.business.name}}</li>
                            </ul>
                        </span>
                        <div class="invoices-number">
                            <h2 rx-translate="dashboard.invoice.total"></h2>
                            <h1>{{invoice.grossAmount | currency}} HT</h1>
                            <h1>{{invoice.netAmount | currency}} TTC</h1>
                        </div>
                    </div>
                    <div class="desc-project">
                        <span class="invoices-status {{invoice.status}}" ng-click="open(invoice)"><p>{{translateStatusLabel(invoice.status)}}</p></span>

                        <ul class="btn-edit">
                            <li><a ng-href='/api/print?pageUri=/invoice_view/{{invoice._id}}&filename={{generatePdfFilename(invoice)}}' target="_blank"><span class="small-icon-buttonview"></span>{{i18n.translate('dashboard.view')}}</a></li>
                            <li><a ng-href='/#/invoice/{{invoice._id}}'><span class="small-icon-buttonedit"></span>{{i18n.translate('dashboard.edit')}}</a></li>
                            <li><div ng-click="deleteInvoice(invoice)"><span class="small-icon-buttondelete"></span>{{i18n.translate('dashboard.delete')}}</div></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="invoice-table" ng-if="isTableDisplayMode()" id="exportable">
            <smart-table config="invoicesTableConfig" rows="invoices" columns="invoicesTableColumns"></smart-table>
        </div>
    </div>

    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title"><span rx-translate="dashboard.quickEdition.title"></span> {{quickEdition.reference}}</h3>
        </div>
        <div class="modal-body zone-quick-edition">
            <div class="control-group">
                <label class="control-label label-light" rx-translate="invoice.status">Status</label>
                <div class="controls">
                    <select ui-select2 ng-model="quickEdition.statusSelected" data-placeholder="{{i18n.translate('dashboard.filter.status')}}">
                        <option value=""></option>
                        <option ng-repeat="item in statusList" value="{{item._id}}">{{item.name}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="modal-body zone-quick-edition">
            <div class="control-group">
            <label class="control-label label-light" rx-translate="invoice.comment"></label>
                <div class="controls">
                    <textarea style="width: 393px; height: 129px;" ng-model="quickEdition.comment"></textarea>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="fsh-btn-success" ng-click="ok()"><span class="icon-buttonSav"></span><span rx-translate="invoice.save"></span></button>
            <button class="fsh-btn-success" ng-click="cancel()"><span class="icon-buttonCancel"></span><span rx-translate="invoice.cancel"></span></button>
        </div>
    </script>
</div>
