<div class="dashboard" ng-controller="DashboardCtrl">
    <h1 class="title-page">
        <span class="title-logo"></span>
        <span class="smallSeparator"></span>
        <span class="title-page-content" rx-translate="dashboard.title"></span>
    </h1>

    <hr class="clear"/>



    <div class="columns-bloc col-type-left">
        <div class="zone-title">
            <h1 class="title-col">{{i18n.translate('dashboard.customers')}}
                <div class="sorts" ng-click="orderBy.byCompany(o)"ng-repeat="o in orderBy.companies">
                    <span ng-class="{selected: o.selected}">{{o.label}}</span>
                    <span ng-show="!$first" class="separator-sorts">|</span>
                    <span ng-class="{arrowTop:!o.reverse, arrowBottom:o.reverse}"></span>
                </div>
            </h1>
            <span class="info-stat">(*) {{nbCompanies()}} client pour {{nbBusiness()}} affaire(s)

            </span>
        </div>
        <div class="zone-actions">
            <button class="fsh-btn-add" ng-click="addCompany()" title="Ajouter"><span class="icon-buttonAdd"></span></button>
            <select ui-select2 ng-model="filter.companySelected" data-placeholder="-- Sélectionner un client --" style="width: 200px;">
                <option value=""></option>
                <option ng-repeat="item in filter.companiesList" value="{{item._id}}">{{item.name}}</option>
            </select>
            <select ui-select2 ng-show="filter.companySelected" ng-model="filter.businessSelected" data-placeholder="-- Sélectionner une affaire --" style="width: 200px;">
                <option value=""></option>
                <option ng-repeat="item in filter.businessList" value="{{item.reference}}">{{item.name}}</option>
            </select>
            <a ng-click="filter.clearCompany()"><span class="fsh-btn-refresh"></span></a>
            <hr class="clear"/>
        </div>

        <div class="bloc-type" ng-class="{blocTypeOneCompany: $first && $last}"
             ng-repeat="company in companies | filter:filter.filterCompanies | orderBy:orderBy.company.predicate:orderBy.company.reverse">
            <div class="content-infos">
                <div class="avatar-project">
                    <img src="../images/no-icon-company.png" width="83" height="83" alt="{{company.name}}">
                    <btn class="show-all-project" ng-click="filter.selectCompany(company)" rx-translate="dashboard.customer.allBusiness"></btn>
                </div>
                <div class="content-infos-project">
                    <div class="header-project">
                        <span class="title-project-content">
                            <a title="{{company.name}}" ng-click="filter.selectCompany(company)"> {{company.name}}</a>
                        </span>
                        <div class="invoices-number">
                            <h2 rx-translate="dashboard.customer.numberOfInvoice"></h2>
                            <h1>{{company.metrics.nbInvoices}}</h1>
                        </div>
                    </div>
                    <div class="desc-project">
                        <div class="content-planned">
                            <div class="invoices-planned">
                                <h2 rx-translate="dashboard.customer.expected"></h2>
                                <h1>{{company.metrics.expected | currency}}</h1>
                            </div>
                            <div class="invoices-planned">
                                <h2 rx-translate="dashboard.customer.invoiced"></h2>
                                <h1>{{company.metrics.invoiced | currency}}</h1>
                            </div>
                        </div>
                        <div class="content-planned">
                            <div class="invoices-planned">
                                <h2 rx-translate="dashboard.customer.expired"></h2>
                                <h1>{{company.metrics.expired | currency}}</h1>
                            </div>
                            <div class="invoices-planned">
                                <h2 rx-translate="dashboard.customer.paid"></h2>
                                <h1>{{company.metrics.paid | currency}}</h1>
                            </div>
                        </div>
                        <ul class="btn-edit">
                            <li><a ng-href='/#/company/{{company._id}}'><span class="small-icon-buttonedit"></span>{{i18n.translate('dashboard.edit')}}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div ng-show="$first && $last">
                <ul class="tags-business">
                    <li ng-repeat="business in company.business" ng-click="filter.selectBusiness(business)">{{business.name}}</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="columns-bloc col-type-right">
        <div class="zone-title">
             <h1 class="title-col">{{i18n.translate('dashboard.invoices')}}
                 <div class="sorts" ng-click="orderBy.byInvoice(o)"ng-repeat="o in orderBy.invoices">
                     <span ng-class="{selected: o.selected}">{{o.label}}</span>
                     <span ng-show="!$first" class="separator-sorts">|</span>
                     <span ng-class="{arrowTop:!o.reverse, arrowBottom:o.reverse}"></span>
                 </div>
             </h1>
             <span class="info-stat">(*) {{nbInvoices()}} facture(s) pour un total de {{totalInvoices() | currency}}</span>
        </div>
        <div class="zone-actions">
            <button class="fsh-btn-add" ng-click="addInvoice()" title="Ajouter"><span class="icon-buttonAdd"></span></button>
            <select ui-select2 ng-model="filter.statusSelected" data-placeholder="-- Sélectionner un statut --">
                <option value=""></option>
                <option ng-repeat="item in filter.statusList" value="{{item._id}}">{{item.name}}</option>
            </select>
            <input type="date" ng-model="filter.dateMin" placeholder="Date min" class="date"/>
            <input type="date" ng-model="filter.dateMax" placeholder="Date max" class="date"/>
            <a ng-click="filter.clearStatus()"><span class="fsh-btn-refresh"></span></a>
            <hr class="clear"/>
        </div>

        <div class="bloc-type"
             ng-repeat="invoice in invoices | filter:filter.filterInvoices | orderBy:orderBy.invoice.predicate:orderBy.invoice.reverse">
            <div class="content-infos content-bloc-invoice">
                <div class="avatar-project">
                    <img src="../images/no-icon-project.png" alt="{{invoice.name}}">
                </div>
                <div class="content-infos-project">
                    <div class="header-project">
                        <span class="title-project-content">
                            <a title="{{invoice.reference}}" ng-click="filter.selectBusinessFromInvoice(invoice)"> {{invoice.reference}}</a>
                            <ul class="invoice-date">
                                <li>{{i18n.translate('dashboard.invoice.from')}} {{invoice.date | date:'dd/MM/yyyy'}}</li>
                                <li>{{i18n.translate('dashboard.invoice.expired')}} {{findExpiredInvoice(invoice.date)}}</li>
                                <li class="tags-business" ng-click="filter.selectCompanyFromInvoice(invoice)" ng-show="invoice.buyer">{{invoice.buyer.name}}</li>
                                <li class="tags-business" ng-click="filter.selectBusinessFromInvoice(invoice)" ng-show="invoice.business">{{invoice.business.name}}</li>
                            </ul>
                        </span>
                        <div class="invoices-number">
                            <h2 rx-translate="dashboard.invoice.total"></h2>
                            <h1>{{invoice.grossAmount | currency}} HT</h1>
                        </div>
                    </div>
                    <div class="desc-project">
                        <span class="invoices-status {{invoice.status}}"><p>{{translateStatusLabel(invoice.status)}}</p></span>
                        <ul class="btn-edit">
                            <li><a ng-href='/#/invoice_view/{{invoice._id}}' target="_blank"><span class="small-icon-buttonview"></span>{{i18n.translate('dashboard.view')}}</a></li>
                            <li><a ng-href='/#/invoice/{{invoice._id}}'><span class="small-icon-buttonedit"></span>{{i18n.translate('dashboard.edit')}}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
