<div class="invoice view" ng-controller="InvoiceCtrl" xmlns="http://www.w3.org/1999/html"
     xmlns="http://www.w3.org/1999/html">

    <div class="panel panel-body">

        <div class="row">
            <div class="invoiceReference pull-right">
                <h2>Facture</h2>
                <div>FACTURE Nº {{invoice.reference}}</div>
                <div>DATE : {{invoice.date | date:'dd/MM/yyyy'}}</div>
            </div>

            <div class="invoiceSeller">
                <h2>{{invoice.seller.name}}</h2>
                <div class="addressBodyBlock"><pre class="addressBody">{{invoice.seller.address.body}}</pre></div>
                <div>{{invoice.seller.address.zipCode}} {{invoice.seller.address.city}}</div>
                <div ng-show="invoice.seller.address.country">{{invoice.seller.address.country}}</div>
            </div>
        </div>

        <div class="row">
            <div class="invoiceObject pull-right">
                <h3>Objet :</h3>
                <pre class="invoiceObject">{{invoice.business.name}}
{{invoice.object}}</pre>
            </div>

            <div class="invoiceBuyer">
                <h3>A l'attention de :</h3>
                <div>{{invoice.buyer.name}}</div>
                <div class="addressBodyBlock"><pre class="addressBody">{{invoice.buyer.address.body}}</pre></div>
                <div>{{invoice.buyer.address.zipCode}} {{invoice.buyer.address.city}}</div>
                <div ng-show="invoice.buyer.address.country">{{invoice.buyer.address.country}}</div>

                <div ng-show="invoice.buyer.legalNotice" class="legalNotice">{{invoice.buyer.legalNotice}}</div>
                <div ng-show="invoice.buyer.showLegalNoticeForeignBuyer" class="legalNoticeForeignBuyer">TVA due par le preneur Article 196 - Directive 2006/112/CE</div>
            </div>
        </div>

        <div class="row" ng-show="invoice.comment">
            <div class="invoiceComment">{{invoice.comment}}</div>
        </div>

        <div class="invoiceLines">
            <table class="table table-condensed table-bordered">
                <thead>
                <tr>
                    <th>Description</th>
                    <th class="currency">Montant HT</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="line in invoice.lines">
                    <td>{{line.description}}</td>
                    <td class="currency">{{line.grossAmount | currency}}</td>
                </tr>
                <tr><td>&nbsp;</td><td>&nbsp;</td></tr>
                <tr ng-repeat="line in invoice.vatsAmount">
                    <td>{{i18n.translate('invoice.lines.vat')}} - {{line.vat}}</td>
                    <td class="currency">{{line.amount | currency}}</td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td class="currency totalLabel totalGrossAmount"><div>Total</div></td>
                    <td class="currency totalAmount">{{invoice.grossAmount | currency}}</td>
                </tr>
                <tr ng-show="invoice.withVAT">
                    <td class="currency totalLabel"><div>Total TVA</div></td>
                    <td class="currency totalAmount">{{invoice.totalVatAmount | currency}}</td>
                </tr>
                <tr ng-show="invoice.withVAT">
                    <td class="currency totalLabel"><div>Total TTC</div></td>
                    <td class="currency totalAmount">{{invoice.netAmount | currency}}</td>
                </tr>
                </tfoot>
            </table>
        </div>

        <div class="invoiceLegalNotice">
            <div class="invoiceLegalNoticeBlock">
                <pre class="legalNotice">{{invoice.seller.legalNotice}}</pre>
            </div>
            <div class="invoiceLegalNoticeBlock invoiceLegalNoticeInfo">
                <div>« En cas de retard de paiement, seront exigibles, conformêment à l'article L 441-6 du code de commerce, une indemnité calculée sur la base de trois fois le taux de l'intérêt légal en vigueur ainsi qu'une indemnité forfaitaire pour frais de recouvrement de 40 euros ».</div>
            </div>
        </div>
    </div>
</div>
