<div class="login-page" ng-controller="LoginCtrl">
    <form name="loginForm" novalidate>
        <h1 class="title-page">
            <span class="title-logo"></span>
            <span class="smallSeparator"></span>
            <span class="title-page-content" rx-translate="login.title"></span>
        </h1>

        <div class="table-fpm">
            <div class="login-form">
                <div class="login-row">
                    <span class="label-login" rx-translate="login.id"></span>
                    <input id="login-username" class="input-login" type="text" name="username" ng-model="username" placeholder="username or email">
                </div>

                <div class="login-row">
                    <span class="label-login" rx-translate="login.password"></span>
                    <input id="login-password" class="input-login"  type="password" name="password" ng-model="password" placeholder="password">
                </div>
                <div class="login-row">
                    <span class="text-error">{{error}}</span>
                    <button class="fsh-btn fsh-login" ng-click="authenticate(username, password)">
                        <a href="#"> <span class="icon-connect"></span>{{i18n.translate('login.login')}}</a>
                    </button>
                </div>
            </div>
            <div class="login-logo">
                <div class="img4pm"></div>
            </div>
        </div>
        <div class="mentionLogo"></div>
    </form>
</div>

    