@import '../../../styles/base-component';


// ---- Customer List Filter

@include new('customerFilter') {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: rem-calc(20px);
  padding: rem-calc(10px);
  border-spacing: 0;

  @include has('label') {
    display: flex;
    justify-content: center;
    align-items: center;

    @include has('name') {
      color: $body-dark-font-color;
      font-weight: 500;
      padding-right: rem-calc(15px);
      margin-left: 20px;
    }
  }

  @include has('search') {
    flex: 1;
    display: flex;
    margin-left: rem-calc(50px);
    max-width: 20vw;
    border-color: 1px solid #008ABF;

    &:focus {
      transition: 0.35s ease;
      color: #3CA3D2;
    }
  }
}

@include new('customerNumber') {
  margin: rem-calc(20px 0 0 30px);
}

// ---- Invoice List Table

@include new('invoiceList') {
  margin-top: rem-calc(20px);
  padding: rem-calc(10px);
  border-spacing: 0;

  @include has('row') {
    background-color: $content-dark-list-color;

    &:nth-child(even) {
      background-color: $content-light-list-color;
    }

    tr {
      background-color: transparent;

      td {
        padding: 0;
        padding-top: rem-calc(10px);
      }

      + tr td {
        padding-top: 0;
        padding-bottom: rem-calc(15px);
      }
    }
  }
}
