<div class="customerFilter">
  <div class="customerFilter-label">
    <div class="customerFilter-label-name">Tri</div>
    <div class="list-filter">
      <div class="item-filter isActive">
        <a class="item-filter-link" href="#">A-Z</a>
      </div>
      <div class="item-filter">
        <a  class="item-filter-link" href="#">Date</a>
      </div>
      <div class="item-filter">
        <a  class="item-filter-link" href="#">CA</a>
      </div>
    </div>
  </div>

  <div class="customerFilter-search">
    <input class="input-search" type="text" placeholder="Recherche">
  </div>

  <div class="button-large">
    <a href="#" class="button">Nouveau client</a>
  </div>
</div>

<!-- Invoice number -->

<div class="customerNumber">
  <h6>19 clients pour un nombre total de 147 affaires</h6>
</div>

<!-- [END HEADER] -->


<!-- [INVOICE LIST] -->

<table class="invoiceList">
    <tbody class="invoiceList-row">
        <tr>
            <td>
                <div class="invoiceList-item-label">Nom client :</div>
            </td>
            <td>
                <span class="invoiceList-item-label">Date : </span>
            </td>
            <td>
                <span class="invoiceList-item-label">Dernier envoi : </span>
                <span class="invoiceList-item-value">00 Mois 2017</span>
            </td>
            <td>
                <span class="invoiceList-item-label">Contact</span>
            </td>
            <td>
                <div class="invoiceList-item-label">Nb</div>
                <span class="invoiceList-item-label">Exercice N-1 : </span>
                <span class="invoiceList-item-value">00 Mois 2017</span>
            </td>
            <td>
                <div class="invoiceList-item-label">CA</div>
                <span class="invoiceList-item-label">00.000€</span>
            </td>
        </tr>

        <tr>
            <td rowspan="2">
                <div class="invoiceList-item-value text blue-text">Client name</div>
            </td>
            <td rowspan="2">
                <span class="invoiceList-item-label">00 Mois 2017</span>
            </td>
            <td rowspan="2">
                <span class="invoiceList-item-label">Dernier paiement : </span>
                <span class="invoiceList-item-value">00 Mois 2017</span>
            </td>
            <td rowspan="2">
                <span class="invoiceList-item-value">mail@adress-client.fr</span>
            </td>
            <td>
                <span class="invoiceList-item-label">Exercice N : </span>
                <span class="invoiceList-item-value">00 Mois 2017</span>
            </td>
            <td>
                <span class="invoiceList-item-label">00.000€</span>
            </td>
        </tr>

        <tr>
            <td>
                <span class="invoiceList-item-label">Exercice N+1 : </span>
                <span class="invoiceList-item-value">00 Mois 2017</span>
            </td>
            <td>
                <span class="invoiceList-item-label">CA : </span>
                <span class="invoiceList-item-value">000.000€</span>
            </td>
        </tr>
    </tbody>
</table>

<!-- [END INVOICE LIST] -->
