<div class="customerFilter">
    <div class="class row">
        <div class="columns shrink">
            <div class="row align-middle listFilter">
                <div class="columns shrink listFilter-label">
                    {{'customers.filter.title' | translate}}
                </div>

                <div class="columns">
                    <div class="listFilter-item isActive">
                        {{'customers.filter.az' | translate}}
                    </div>
                </div>

                <div class="columns">
                    <div class="listFilter-item">
                        {{'customers.filter.date' | translate}}
                    </div>
                </div>

                <div class="columns">
                    <div class="listFilter-item">
                        {{'customers.filters.ca' | translate}}
                    </div>
                </div>
            </div>
        </div>

        <div class="columns">
            <input class="input search small" type="text" placeholder="Recherche">
        </div>

        <button class="columns shrink">
            <a class="button medium green" routerLink="/customers/new">
                <i class="ion-ios-plus-empty"></i>{{'customers.filter.client' | translate}}
            </a>
        </button>
    </div>

<!-- Invoice number -->

    <div class="customerDetail">
        <h6> {{'customers.total.client' | translate}} pour un nombre total de {{'customers.total.deal' | translate}}</h6>
    </div>
</div>

<!-- [END HEADER] -->


<!-- [INVOICE LIST] -->

<table class="customerList">
    <tbody class="customerList-row">
        <tr>
            <td>
                <div class="customerList-item-label">{{'customers.label.name' | translate}} :</div>
            </td>
            <td>
                <span class="customerList-item-label">{{'customers.label.date' | translate}}: </span>
            </td>
            <td>
                <span class="customerList-item-label">{{'customers.label.lastSend' | translate}} : </span>
                <span class="customerList-item-value">{{'customers.value.lastSend' | translate}}</span>
            </td>
            <td>
                <span class="customerList-item-label">{{'customers.label.contact' | translate}}</span>
            </td>
            <td>
                <div class="customerList-item-label">{{'customers.label.number' | translate}}</div>
                <span class="customerList-item-label">{{'customers.label.lastExercice' | translate}}: </span>
                <span class="customerList-item-value">{{'customers.value.lastExercice' | translate}}</span>
            </td>
            <td>
                <div class="customerList-item-label">{{'customers.label.ca' | translate}}</div>
                <span class="customerList-item-value">{{'customers.value.lastCa' | translate}}</span>
            </td>
        </tr>

        <tr>
            <td rowspan="2">
                <div class="customerList-item-value">{{'customers.value.name' | translate}}</div>
            </td>
            <td rowspan="2">
                <span class="customerList-item-value">{{'customers.value.lastSend' | translate}}</span>
            </td>
            <td rowspan="2">
                <span class="customerList-item-label">{{'customers.label.lastPayment' | translate}}: </span>
                <span class="customerList-item-value">{{'customers.value.lastPayment' | translate}}</span>
            </td>
            <td rowspan="2">
                <span class="customerList-item-value">{{'customers.value.mailContact' | translate}}</span>
            </td>
            <td>
                <span class="customerList-item-label">{{'customers.label.Exercice' | translate}}: </span>
                <span class="customerList-item-value">{{'customers.value.Exercice' | translate}}</span>
            </td>
            <td>
                <span class="customerList-item-value">{{'customers.value.lastCa' | translate}}</span>
            </td>
        </tr>

        <tr>
            <td>
                <span class="customerList-item-label">{{'customers.label.nextExercice' | translate}}:</span>
                <span class="customerList-item-value">{{'customers.value.nextExercice' | translate}}</span>
            </td>
            <td>
                <span class="customerList-item-value">{{'customers.value.nextCa' | translate}}</span>
            </td>
        </tr>
    </tbody>
</table>

<!-- [END INVOICE LIST] -->
