@charset "utf-8";

// ~ IMPORT ALL SASS
// ====================================================================== >
// For more informations on sass organization, to know where to put which files, etc.
// see : http://sass-guidelin.es/fr/#le-pattern-7-1
// If you have doubts, put your declarations at the end of this file. I will move these later.

// ~ UTILS
// ====================================================================== >
@import 'utils/variables';
@import 'utils/helpers';
@import 'utils/mixins';
@import 'utils/placeholders';

// ~ VENDORS
// ====================================================================== >
@import 'vendors/vendors';

// ~ BASE
// ====================================================================== >
@import 'base/base';
@import 'base/reset';
@import 'base/typography';

// ~ LAYOUT
// ====================================================================== >
@import 'layout/content';

// ~ COMPONENTS
// ====================================================================== >

@import "components/status";
@import "components/forms";
@import "components/filters";
@import "components/buttons";


