// ---------------------------------------------------------------------- >
// ~ SEARCH HELP
// ---------------------------------------------------------------------- >
// Hierarchy :
// ~  : High level section. Title is in summary, separate by "arrow" at the begin and the end (except search help and summary).
// ==== : Upper level in a section
// == : Sub level in a section
// = : Lower level in a section

// ---------------------------------------------------------------------- >
// ~ SUMMARY
// ---------------------------------------------------------------------- >
// 1 - MISC

// ---------------------------------------------------------------------- >
// ~ MISC
// ---------------------------------------------------------------------- >

// ==== Define Fonts
//$body-font : 'Open Sans', sans-serif;

// ==== Define Colors
// == Colors by name (based on : http://chir.ag/projects/name-that-color/)
// USE ONLY TO DEFINE COLORS BY FUNCTION, don't use in others vars declaration.

$shakespeare :                                   #3CA3D2 !default;
$blue-bayoux :                                   #4c637b !default;
$catskill-white :                                #E3EAF3 !default;
$catskill-dark :                                 #e7edf5 !default;

$regent-gray :                                   #7B8C9C !default;
$geyser :                                        #CCD4DA !default;
$silver-rust :                                   #cdcdcd !default;
$black-squeeze :                                 #F2F6FA !default;
$catskill-light :                                #f8fafc !default;
$alice-blue:                                     #FCFEFF !default;
$wild-sand :                                     #F6F6F6 !default;

$sushi :                                        #67BA2F !default;

$bright-sun :                                   #eac85d !default;
$sunshade :                                     #808c9f !default;
$red-orange :                                   #e0502e !default;
$lima :                                         #4daf7c !default;

$white :                                        #ffffff !default;


$shiraz :                                        #b01032 !default;
$la-palma :                                      #10B016 !default;
$yellow-sea :                                    #ffa806 !default;

// == Colors by function
// = General
$app-main-color:                                  $blue-bayoux !default;
$app-main-light-color:                            $shakespeare !default;
$app-main-dark-color :                            mix($blue-bayoux, black, 85%) !default;

$app-sub-color :                                  $regent-gray !default;
$app-sub-light-color :                            $catskill-white !default;

$app-disabled-color :                             $silver-rust !default;

$app-error-color :                                $shiraz !default;
$app-warning-color :                              $yellow-sea !default;
$app-success-color :                              $la-palma !default;
$app-notif-color :                                $red-orange !default;

// = Content color
$content-dark-list-color :                        $catskill-light !default;
$content-medium-list-color :                      $black-squeeze !default;
$content-light-list-color :                       $alice-blue !default;

$content-hover-list-color :                       $catskill-dark !default;

// = Fonts color
$body-dark-font-color :                           $regent-gray !default;
$body-light-font-color :                          $geyser !default;

// = Status color
$status-tovalidate-color :                        $sunshade !default;
$status-toprepare-color :                         $bright-sun !default;
$status-torelaunched-color :                      $red-orange  !default;
$status-tosend-color :                            $lima  !default;
$status-border-light-color :                      $geyser !default;

// = Buttons color
$button-primary-color :                           $sushi !default;
$button-secondary-color :                         $shakespeare !default;
$button-red :                                     $red-orange !default;
$button-yellow :                                  $bright-sun !default;
$button-filter-color :                            $black-squeeze !default;
$button-border-dark-color :                       $regent-gray !default;
$button-border-light-color :                      $geyser !default;
$button-access-color :                            $regent-gray !default;

// = Input color
$input-border-color :                             $geyser !default;

// = Background color
$background-color :                               $wild-sand !default;


  // = PATHS
$img-path :                                     'assets/images/' !default;
$svg-path :                                     'assets/images/svg/' !default;

//$font-path :                                    '../fonts/' !default;

// < ----------------------------------------------------------------------
// ~ MISC END
// < ----------------------------------------------------------------------

// ---------------------------------------------------------------------- >
// ~ SIDEBAR
// ---------------------------------------------------------------------- >

$sidebar-width-lg :                                    190px !default;
$sidebar-width-md :                                    296px !default;

$sidebar-bg-color :                                 $app-main-color !default;
$sidebar-item-bg-color :                            $app-main-light-color !default;


// < ----------------------------------------------------------------------
// ~ SIDEBAR END
// < ----------------------------------------------------------------------


// ---------------------------------------------------------------------- >
// ~ HEADER
// ---------------------------------------------------------------------- >

$appHeader-height:                                    64px !default;
$appHeader-bg-color :                                 $app-sub-light-color   !default;


// < ----------------------------------------------------------------------
// ~ HEADER END
// < ----------------------------------------------------------------------

$height-customerFilter :                                120px !default;
$height-invoiceFilter :                                 120px !default;
$height-newCustomerHeader :                             80px !default;
$height-newCustomerAction :                             94px !default;

