// -----------------------------------------------------------------------------
// This file contains all styles related to the VARIABLES vendors.
// -----------------------------------------------------------------------------

// ==== Define Fonts ==== //
$text-font: 'Fira Sans', Helvetica, Roboto, Arial, sans-serif !default;

// == General

$primary: #e96c2f;
$primary-gradient: linear-gradient(to bottom, $primary 0%,darken($primary, 5%) 100%);;
$primary-dark: #9f481e;

$secondary: #48b1c7;
$secondary-dark: #1b7689;

$blue: #48b1c7;
$green: #8fd61e;
$yellow: #fcc91a;
$red: #fc1a1a;

$special-grey: #f0f3f9 !default;
$special-light-grey:  darken($special-grey, 2%) !default;
$special-medium-grey: darken($special-grey, 5%) !default;
$special-dark-grey: darken($special-grey, 25%) !default;
$white-grey: #fbfbfb !default;
$hover-grey: #f5f8fa !default;
$light-grey: #edf0f2 !default;
$line-grey: #cad2dd !default;
$medium-grey: #8da4c3 !default;
$dark-grey: #434f5f !default;

$dark-grey-gradient: linear-gradient(to bottom, $dark-grey 0%,darken($dark-grey, 5%) 100%);


$state-progress-color :                              $blue !default;
$state-yes-color :                                   $green !default;
$state-no-color :                                    $yellow !default;
$state-error-color :                                 $red !default;

$font-main-path: '/assets/fonts/' !default;
$img-main-path: '/assets/images/' !default;

// ================ //
// Variables for sass
// ================ //

// === Define base color

// === Define base metrics
$height-header: 70px !default;
$width-side-bar: 280px !default;
$height-breadcrumb: 54px !default;
$space-view-content: 28px !default;
$height-tabs-bar: 54px !default;
$height-filters-bar: 80px !default;
$height-inner-footer: 70px !default;

// === Define images
