// ---------------------------------------------------------------------- >
// ~ SEARCH HELP
// ---------------------------------------------------------------------- >
// Hierarchy :
// ~  : High level section. Title is in summary, separate by "arrow" at the begin and the end (except search help and summary).
// ==== : Upper level in a section
// == : Sub level in a section
// = : Lower level in a section

// ---------------------------------------------------------------------- >
// ~ SUMMARY
// ---------------------------------------------------------------------- >
// 1 - MISC

// ---------------------------------------------------------------------- >
// ~ MISC
// ---------------------------------------------------------------------- >

// ==== Define Fonts
//$body-font : 'Open Sans', sans-serif;

// ==== Define Colors
// == Colors by name (based on : http://chir.ag/projects/name-that-color/)
// USE ONLY TO DEFINE COLORS BY FUNCTION, don't use in others vars declaration.

$wedgewood :                                     #478199 !default;
$blue-dianne :                                   #285162 !default;
$tiber :                                         #082f3f !default;
$golden-bell :                                   #e57e10 !default;

$silver-rust :                                   #cdcdcd !default;

$shiraz :                                        #b01032 !default;
$la-palma :                                      #10B016 !default;
$yellow-sea :                                    #ffa806 !default;



// == Colors by function
// = General
$app-light-color :                                $wedgewood !default;
$app-main-color :                                 $blue-dianne !default;
$app-sub-color :                                  $golden-bell !default;
$app-dark-color :                                 $tiber !default;

$app-disabled-color :                             $silver-rust !default;

$app-error-color :                                $shiraz !default;
$app-warning-color :                              $yellow-sea !default;
$app-success-color :                              $la-palma !default;

// = Fonts color
$body-font-color :                              $app-dark-color !default;

// ==== PATHS
//$img-path :                                     '../images/' !default;
//$svg-path :                                     '../images/svg/' !default;

//$font-path :                                    '../fonts/' !default;

// < ----------------------------------------------------------------------
// ~ MISC END
// < ----------------------------------------------------------------------


// ---------------------------------------------------------------------- >
// ~ HEADER
// ---------------------------------------------------------------------- >



// < ----------------------------------------------------------------------
// ~ HEADER END
// < ----------------------------------------------------------------------
