<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>TEST</title>
    <style type="text/css" rel="stylesheet" media="all">
        @import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&display=swap');

        body {
            font-family: 'Lato', sans-serif;
            color: #252525;
        }


        @page {
            margin: 0 !important;
        }

        /* GLOBAL */

        /* == Typo */

        .label-info {
            text-transform: uppercase;
            color: #7d7d7d;
            letter-spacing: 1px;
        }

        .label-buyer {
           display: block;
           font-size: 13px;
        }

        .project-name {
            white-space: pre;
            font-size: 14px;
            line-height: 1.2;
        }

        /* Layout */

        .bloc-container {
            display: inline-block;
            background: #e2e2e2;
            padding: 12px;
        }

        .bloc-container-title {
            margin: 0;
            font-size: 16px;
            padding-bottom: 8px;
            margin-bottom: 8px;
            color: black;
        }

        /* HEADER */

        .panel-header {
            display: inline-flex;
            align-items: center;
            width: 100%;
            margin-bottom: 24px;
        }

        .panel-header .invoiceSeller,
        .panel-header .invoiceReference {
            flex: 1;
        }

        .invoiceSeller { margin-left: 24px;}
        .invoiceReference { margin-right: 24px; text-align: right;}

        /* == Logo */
        .seller-name img {
            display: block;
            width: 116px;
            margin-bottom: 16px;
        }

        /* == Invoice Ref */

        .invoice-ref-nb {
            font-size: 14px;
            margin-bottom: 8px;
        }

        .invoice-ref-title {
            padding-top: 0 !important;
            margin: 0;
            color: #EA2531 !important;
            text-transform: none;
            font-size: 34px;
        }

        /* BUYER */

        .panel-buyer {
            display: inline-flex;
            align-items: center;
            width: 100%;
            margin-bottom: 34px;
        }

        .panel-buyer .invoiceObject,
        .panel-buyer .invoiceBuyer  {
            flex: 1;
        }

        .invoiceBuyer { padding-right: 24px; margin-left: 24px;}
        .invoiceObject { padding-left: 24px; margin-right: 24px;}


        /* TABLE LINE */

        .panel-line {
            display: block;
            margin: 0 24px;
        }

        .panel-line table {
            width: 100%;
            border-collapse: collapse;
        }

        thead tr th {
            text-transform: uppercase;
            color: #7d7d7d;
            letter-spacing: 1px;
            font-size: 12px;
            font-weight: bold;
        }

        thead tr .currency {
            padding: 0 16px;
        }

        tbody tr td {
            font-size: 14px;
            padding: 12px 0;
            border-bottom: 1px solid #252525;
            color: #252525;
        }

        tbody tr .currency {
            padding: 8px 16px;
        }

        .col-sep td {
            border-bottom: none;
            padding: 0;
        }

        tfoot tr td {
            padding: 12px 0;
        }

        th.currency {
            width: 20%;
            text-align: left;
        }

        td.currency {
            font-weight: 900;
            font-size: 16px;
        }

        .totalLabel {
            width: 178px;
            padding: 8px 16px;
            font-weight: normal !important;
            text-align: right;
        }

        .totalAmount {
            padding: 8px 16px;
            background-color: #252525;
            color: white;
            font-weight: normal;
        }

        /* FOOTER */

        .panel-footer {
            position: fixed;
            bottom: 0;
            padding: 0 24px;
            padding-bottom: 3mm;
            padding-top: 3mm;
            margin-top: 25px;
            font-size: 8pt;
            background: #e2e2e2;
            border-top: 1px solid #ea2531;
        }

        .panel-footer .legalNotice {
            white-space: pre-line;
            font-size: 12px;
            font-weight: 700;
        }
    </style>
</head>

<body>

<div class="panel panel-body">
    <div class="panel-header">
        <div class="invoiceSeller">
            <h2 class="seller-name">
                <img src="https://www.4sh.fr/assets/img/svg/4sh_logo.svg">
                <!-- {{invoice.seller.name}}-->
            </h2>

            <div class="addressBodyBlock">
                <label class="label-info">Adresse</label>
                <div class="addressBody">{{invoice.seller.address.body}}</div>
            </div>
            <div class="addressBodyBlock">{{invoice.seller.address.zipCode}} {{invoice.seller.address.city}}</div>
            {{#invoice.seller.address.country}}
                <div class="addressBodyBlock">{{invoice.seller.address.country}}</div>
            {{/invoice.seller.address.country}}
        </div>

        <div class="invoiceReference">
            <h2 class="invoice-ref-title">Facture</h2>
            <div class="invoice-ref-nb">Nº {{invoice.reference}}</div>
            <label class="label-info">Date</label>
            <div class="invoice-ref-row">{{invoice.date}}</div>
        </div>
    </div>

    <div class="panel-buyer">
        <div class="invoiceBuyer">
            <div class="bloc-container">
                <h3 class="bloc-container-title">A l'attention de :</h3>
                <div class="buyer-name">{{invoice.buyer.name}}</div>
                <br>
                <div class="label-buyer">{{invoice.buyer.address.body}}</div>
                <div class="label-buyer">{{invoice.buyer.address.zipCode}} {{invoice.buyer.address.city}}</div>
                {{#invoice.buyer.address.country}}
                    <div class="label-buyer">{{invoice.buyer.address.country}}</div>
                {{/invoice.buyer.address.country}}


                {{#invoice.buyer.legalNotice}}
                    <div class="label-buyer">{{invoice.buyer.legalNotice}}</small>
                {{/invoice.buyer.legalNotice}}
                {{#invoice.buyer.showLegalNoticeForeignBuyer}}
                    <div class="label-buyer">TVA due par le preneur Article 196 - Directive 2006/112/CE</div>
                {{/invoice.buyer.showLegalNoticeForeignBuyer}}
            </div>
        </div>

        <div class="invoiceObject">
            <div class="bloc-container">
                <h3 class="bloc-container-title">Objet :</h3>
                <div class="project-name">{{invoice.object}}</div>
                <br>
                {{#invoice.customerInvoiceRef}}
                    <div class="label-buyer">Ref. commande client : {{invoice.customerInvoiceRef}}</div>
                {{/invoice.customerInvoiceRef}}
            </div>
        </div>
    </div>

    <div class="panel-line">
        <table>
            <thead>
            <tr>
                <th style="text-align: left;">Désignation</th>
                <th></th>
                <th class="currency">Montant HT</th>
            </tr>
            </thead>
            <tbody>
                <tr class="col-sep">
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                {{#invoice.lines}}
                    <tr>
                        <td>{{description}}</td>
                        <td></td>
                        <td class="currency">{{grossAmount}}</td>
                    </tr>
                {{/invoice.lines}}
            </tbody>

            <tfoot>
                <tr>
                    <td></td>
                    <td class="totalLabel totalGrossAmount">
                        <div>Total HT</div>
                    </td>
                    <td class="currency totalAmount">{{invoice.grossAmount}}</td>
                </tr>
                {{#invoice.withVAT}}
                    {{#invoice.vatsAmount}}
                        <tr>
                            <td></td>
                            <td class="totalLabel">
                                <div>{{'invoice.lines.vat'  | translate}} - {{vat}}</div>
                            </td>
                            <td class="currency totalAmount">{{amount}}</td>
                        </tr>
                    {{/invoice.vatsAmount}}
                    <tr>
                        <td></td>
                        <td class="totalLabel">
                            <div>Total TTC</div>
                        </td>
                        <td class="currency totalAmount">{{invoice.netAmount}}</td>
                    </tr>
                {{/invoice.withVAT}}
            </tfoot>
        </table>
    </div>

    <div class="panel-footer">
        <div class="invoiceLegalNotice">
            <div class="invoiceLegalNoticeBlock">
                <div class="legalNotice">{{invoice.seller.legalNotice}}</div>
            </div>
            <br>
            <div class="invoiceLegalNoticeBlock invoiceLegalNoticeInfo">
                <div>« En cas de retard de paiement, seront exigibles, conformément à l'article L 441-6 du code de
                    commerce, une indemnité calculée sur la base de trois fois le taux de l'intérêt légal en vigueur
                    ainsi qu'une indemnité forfaitaire pour frais de recouvrement de 40 euros ».
                </div>
            </div>
            <br>
        </div>
        <div class="footer">
            <div class="fullName">{{invoice.seller.fullName}}</div>
            <div class="detail">{{invoice.seller.detail}}</div>
        </div>
    </div>
</div>


</body>
</html>
